<template>
  <v-container fluid class="funnel-create-container pr-10" :key="getCurrentTranslator.id">
    <div class="aside-bar">
      <div class="aside-navigation">
        <div class="aside-navigation-button"><span class="circle"></span></div>
        <a v-for="form in forms" class="aside-navigation-button"
           :href="`#${form.id}`" :key="form.id"><span class="circle"></span><span
            class="navigation-text visually-hidden">{{ form.name }}</span></a>
        <div class="aside-navigation-button"><span class="circle"></span></div>
      </div>
      <v-card width="250px" class="balance-card" key="cost-card">
        <span>Период</span>
        <span>{{getCurrentTranslator.technicalSupport.value}} дней</span>
        <span>Тех. поддержка</span>
        <span>{{technicalCost}} руб.</span>
        <span>Время</span>
        <span>{{getCurrentTranslator.duration.value}} сек.</span>
        <span>Клик</span>
        <span>2 руб.</span>
        <span>Доп. услуги</span>
        <span>0 руб.</span>
        <span>Сумма за просмотр</span>
        <span>{{viewCost}}</span>
        <span>Общая сумма</span>
        <span>{{totalCost}} руб.</span>
      </v-card>
      <v-card v-if="errors.length" width="250px" class="error-card">
        <span>ОШИБКА! заполните формы:</span>
        <span v-for="error in errors" :key="error">{{ error }}</span>
      </v-card>
    </div>
    <div class="aside-button">
      <v-btn class="clear-button" color="#d71d20" @click="clearForm">Очистить</v-btn>
    </div>
    <div class="main-container" @change="formHandler" @input="formHandler">
      <div v-intersect="{
    handler: onIntersect,
    options: {threshold: [0.9]}
    }" class="form-container" id="load-video">
        <v-form class="form-content">
          <div class="load-video__input-wrapper">
            <ui-input
                max-width="210px"
                text-content="Номер договора"
                type="text"
                name="contract-id"
                margin="0 0 30px 0"
                :model="getCurrentTranslator.id"
                readonly/>
            <ui-select grid-template-columns="200px 1fr 1fr 1fr" margin="0 0 30px 0" text-content="Период тех. поддержки"
               :data="period"
               :model="getCurrentTranslator.technicalSupport.value"
               @change="getCurrentTranslator.technicalSupport.value = $event"
            />
          </div>
          <ui-custom-select
              text-content="Тема контента по интересам пользователя"
              type="text"
              name="theme"
              margin="0 0 10px 0"
              :value="getCurrentTranslator"
          />
          <div class="label-container load-container">
            <span class="input-text">Загрузить</span>
            <div class="load-input">
              <v-file-input
                  v-model="getCurrentTranslator.file.value"
                  outlined
                  dense
                  background-color="#ffffff"
                  messages="Формат файла, который можно загрузить: .jpg, .png, .jpeg, .mkv, .avi, .mpeg, .mpeg4, .mp3"
                  @change="fileHandler">
              </v-file-input>
              <progress class="progress-bar" v-if="getCurrentTranslator.file.value" id="progressBar"
                        :value="uploadPercentage" max="100" width="300px"></progress>
              <v-icon class="file-progress-icon" v-if="uploadStatus !== null" :color="colorStatus">{{ iconStatus }}
              </v-icon>
            </div>
          </div>
          <div class="category-container">
            <div class="clock-container"><span
                v-if="getCurrentTranslator.categories.value === this.categories.image.name" class="clock-text">Время сек.</span>
            </div>
            <ui-input
                show-help
                :model="getCurrentTranslator.categories.value"
                @input="getCurrentTranslator.categories.value = $event"
                text-content="Категория контента" name="categories"
                :readonly="true"
                :key="getCurrentTranslator.categories.value"
                max-width="397px"
                margin="0"/>
            <ui-select v-if="getCurrentTranslator.categories.value === this.categories.image.name"
                       max-width="100px"
                       name="duration"
                       :model="getCurrentTranslator.duration.value"
                       @change="getCurrentTranslator.duration.value = $event"
                       :data="seconds"
                       margin="0 10px 0 0"/>
          </div>
        </v-form>
      </div>

      <div v-intersect="{
    handler: onIntersect,
    options: {threshold: [0.9]}
    }" class="form-container pa-0" id="question-answer">
        <v-form class="form-content">
          <div v-for="(item, index) in getCurrentTranslator.questions.value" class="question-container" :key="item.id">
            <div class="px-7 pb-2">
              <span class="input-text">Вопрос</span>
            </div>
            <div class="px-7">
              <ui-input :model="item.question" @input="item.question = $event" type="text" max-width="690px" cleaner/>
              <AnswersCard v-model="getCurrentTranslator.questions.value[index]"/>
            </div>
          </div>
        </v-form>
      </div>

      <AuditoryForm v-intersect="{
    handler: onIntersect,
    options: {threshold: [0.9]}
    }" :value="getCurrentTranslator"/>

      <geolocation v-intersect="{
    handler: onIntersect,
    options: {threshold: [0.9]}
    }" :value="getCurrentTranslator"/>

      <div v-intersect="{
    handler: onIntersect,
    options: {threshold: [0.9]}
    }" class="form-container" id="show-time">
        <div class="form-content d-flex">
          <h2 class="controls-tittle">Время показа</h2>
          <div class="controls-wrapper">
            <div class="checkbox-container">
              <ui-checkbox v-for="time in timeOfTheDay"
                           type="checkbox"
                           :name="time.value"
                           :model="getCurrentTranslator.timeOfTheDay.value"
                           @change="getCurrentTranslator.timeOfTheDay.value = $event"
                           :for-value="time.value"
                           :value="time.value"
                           :text-content="time.name" :key="time.value"/>
            </div>
          </div>
        </div>
      </div>

      <div v-intersect="{
    handler: onIntersect,
    options: {threshold: [0.9]}
    }" class="form-container" id="show-time" :style="{'--color': maxValueStyle}">
        <div class="form-content d-flex">
          <h2 class="controls-tittle">Колличество просмотров за 30 дней</h2>
          <div class="controls-wrapper">
            <div>
              <div class="slider__wrapper">
                <v-icon
                    class="slider__button"
                    color="#BDBDBD"
                    @click="decrementHandler"
                    :disabled="disableDecrementButton">
                  mdi-minus
                </v-icon>
                <v-slider
                    v-model="calculatorValue"
                    color="#628B23"
                    track-color="#C0C0C0"
                    track-fill-color="#628B23"
                    thumb-label="always"
                    :thumb-size="24"
                    ticks="always"
                    tick-size="4"
                    :step="calculatorInterval"
                    :min="minCalculator"
                    :max="maxCalculator">
                  <template v-slot:thumb-label="{}">
                    {{''}}
                  </template>
                  <template v-slot:prepend>
                    <span class="slider__min-value">{{minCalculator}}</span>
                  </template>
                  <template v-slot:append>
                    <span class="slider__max-value">{{maxCalculator}}</span>
                  </template>
                </v-slider>
                <v-icon
                    class="slider__button"
                    color="#BDBDBD"
                    @click="incrementHandler"
                    :disabled="disableIncrementButton">
                  mdi-plus
                </v-icon>
              </div>
              <div class="slider__text-container">
                <span class="slider__views">{{calculatorValue}} тыс.</span>
                <span class="slider__views">Сумма за просмотр {{getCurrentTranslator.price.value}} руб.</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-intersect="{
    handler: onIntersect,
    options: {threshold: [0.9]}
    }" class="form-container" id="price">
        <div v-if="getCurrentTranslator.duration.value" class="form-content d-flex">
          <h2 class="controls-tittle price-tittle">Время ролика</h2>
          <div class="controls-wrapper">
            <div class="item-container">
              {{ getCurrentTranslator.duration.value }} секунд
            </div>
          </div>
        </div>
        <div class="form-content d-flex">
          <h2 class="controls-tittle price-tittle">Сумма за публикацию</h2>
          <div class="controls-wrapper">
            <div class="item-container">
              {{ getCurrentTranslator.price.value }} руб
              <span class="ml-2 info-icon">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M7 13.1765C10.4112 13.1765 13.1765 10.4112 13.1765 7C13.1765 3.58883 10.4112 0.823529 7 0.823529C3.5888 0.823529 0.823529 3.58883 0.823529 7C0.823529 10.4112 3.5888 13.1765 7 13.1765ZM7 14C10.866 14 14 10.866 14 7C14 3.134 10.866 0 7 0C3.134 0 0 3.134 0 7C0 10.866 3.134 14 7 14ZM6.31373 10.9804V5.4902H7.41177V10.9804H6.31373ZM6.86275 4.94118C7.31753 4.94118 7.68628 4.57248 7.68628 4.11765C7.68628 3.66281 7.31753 3.29412 6.86275 3.29412C6.40797 3.29412 6.03922 3.66281 6.03922 4.11765C6.03922 4.57248 6.40797 4.94118 6.86275 4.94118Z"
                        fill="#808080"/>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <slider v-intersect="{
    handler: onIntersect,
    options: {threshold: [0.9]}
    }" />
    <div class="button-wrapper">
      <!-- <v-btn class="submit-button submit-button__add-questionnaire" color="#628B23" @click="onFunnelBlank">Добавить опросник</v-btn> -->
      <v-btn class="submit-button" color="#628B23" @click="submitHandler">Сохранить</v-btn>
    </div>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import axios from 'axios';
import {
  SHOW_TIME_CHECKBOXES, TRANSLATOR_FORMS, DRAFT_TYPES,
} from '@/const';
import { checkForm, getAges, getInitialTranslatorForm } from '@/utils';
// import { mockedRegions, mockedTowns } from '@/mock-data';
import { ROUTES } from '@/router/routes-config';
import UiInput from '@/components/ui/ui-input.vue';
import UiCheckbox from '@/components/ui/ui-checkbox.vue';
import UiSelect from '@/components/ui/ui-select.vue';
import AnswersCard from '@/components/answers-card.vue';
import AuditoryForm from '@/components/forms/auditory-form.vue';
import Geolocation from '@/components/forms/geolocation-form.vue';
import Slider from '@/components/forms/slider.vue';
import UiCustomSelect from '@/components/ui/ui-custom-select.vue';

let prevId = 'load-video';

export default {
  name: ROUTES.TRANSLATOR_CREATE.NAME,
  // props: [
  //   this.durationVideo,
  // ],
  components: {
    UiCustomSelect,
    Slider,
    Geolocation,
    UiInput,
    UiCheckbox,
    UiSelect,
    AnswersCard,
    AuditoryForm,
  },
  data() {
    return {
      ROUTES,
      forms: TRANSLATOR_FORMS,
      formIsActive: false,
      minCalculator: 1,
      maxCalculator: 10,
      calculatorValue: 1,
      calculatorInterval: 1,
      costInSecond: 0.10,
      isPlaying: false,
      categories: {
        video: {
          type: 'video',
          name: 'Видео',
        },
        audio: {
          type: 'audio',
          name: 'Аудио',
        },
        image: {
          type: 'image',
          name: 'Заставка/Гифка',
        },
      },
      seconds: getAges(1, 60),
      ages: getAges(18, 100),
      educations: ['нет', 'Среднее', 'Техническое', 'Высшее', 'Более', 'Общее'],
      income: ['10т-30т', '30т-50т', '50т-100т', '100т-200т', '200+'],
      maritalStatus: ['женат(а)', 'не женат(а)', 'резведен(а)'],
      religion: ['Христианство', 'Ислам', 'Буддизм', 'Иудаизм', 'Шаманизм', 'Конфуцианство', 'Даосизм'],
      period: [
        {
          name: '90 дней',
          value: 90,
        },
        {
          name: '180 дней',
          value: 180,
        },
        {
          name: '360 дней',
          value: 360,
        },
      ],
      // regions: mockedRegions,
      // towns: mockedTowns,
      showDays: ['3 дня', '5дней', '7 дней', '10 дней', '15 дней', '20 дней'],
      timeOfTheDay: SHOW_TIME_CHECKBOXES,
      percents: [40, 60, 80, 100],
      showCount: [1, 2, 3, 4],
      errors: [],
      uploadPercentage: 0,
      uploadStatus: null,
    };
  },

  beforeDestroy() {
    const routeName = this.$route.name;
    if (routeName !== ROUTES.TRANSLATOR_PENDING.NAME
        && routeName !== ROUTES.TRANSLATOR_DRAFTS.NAME
        && routeName !== ROUTES.TRANSLATOR_CREATE.NAME
        && routeName !== ROUTES.TRANSLATOR_ACTIVE.NAME
        && routeName !== ROUTES.TRANSLATOR_ARCHIVE.NAME
        && routeName !== ROUTES.TRANSLATOR_HISTORY.NAME
        && routeName !== ROUTES.TRANSLATOR_SHOW.NAME
        && this.formIsActive) {
      this.addDraftTypeAction(DRAFT_TYPES.TRANSLATOR);
    }
  },

  mounted() {
    // console.log('TR_CREATE-', this.getTranslatorsByFilterAction('ACTIVE'));
    this.getTranslatorsByFilterAction('ACTIVE');
    // this.getUserStatusSelection
  },
  watch: {
    calculatorValue() {
      this.getCurrentTranslator.views.value = this.calculatorValue * 1000;
    },
  },

  computed: {
    ...mapGetters(['getCurrentTranslator',
      'getUserThemes',
      'getActiveTranslator',
      'getAdaptServerToPendingTranslator',
      'getUserStatusSelection']),
    colorStatus() {
      return this.uploadStatus ? 'green' : 'red';
    },
    iconStatus() {
      return this.uploadStatus ? 'mdi-check' : 'mdi-close';
    },
    duration() {
      return this.getCurrentTranslator.categories.value !== this.categories.image.name
        ? `${Math.round(this.getCurrentTranslator.duration.value / 60)} мин`
        : `${this.getCurrentTranslator.duration.value} сек`;
    },
    disableDecrementButton() {
      return this.minCalculator === 1;
    },
    disableIncrementButton() {
      return this.maxCalculator === 1000;
    },
    maxValueStyle() {
      if (this.calculatorValue === this.maxCalculator) {
        return '#659023';
      }
      return '#BDBDBD';
    },
    technicalCost() {
      return Math.ceil(this.getCurrentTranslator.technicalSupport.value * 20);
    },
    viewCost() {
      return Math.ceil(this.getCurrentTranslator.views.value * (this.getCurrentTranslator.duration.value * this.costInSecond));
    },
    viewCostMonth() {
      return this.getCurrentTranslator.views.value;
    },
    totalCost() {
      return this.technicalCost + this.viewCost;
    },
    activeTranslator() {
      return this.getActiveTranslator;
    },
  },

  methods: {
    ...mapActions(['setCurrentTranslatorAction',
      'setMediaIdAction',
      'getTranslatorsByFilterAction',
      'addDraftTypeAction',
      'setUserThemesAction',
      'getAdvertisingQuestion',
      'getAdvVideoFramesAction',
      'setTotalCostAction',
      'setViewCostMonthAction',
      'setViewCostAction',
      'createAdvertisingAction',
      'setTechnicalCostAction']),
    decrementHandler() {
      this.minCalculator /= 10;
      this.maxCalculator /= 10;
      this.calculatorInterval /= 10;
    },
    incrementHandler() {
      this.minCalculator *= 10;
      this.maxCalculator *= 10;
      this.calculatorInterval *= 10;
    },
    onIntersect(entires) {
      const { id } = entires[0].target;
      const ratio = entires[0].intersectionRatio;
      const { isIntersecting } = entires[0];
      if (isIntersecting && ratio >= 0.9) {
        const activeButton = document.querySelector(`[href="#${id}"]`);
        const activeForm = document.querySelector(`#${id}`);
        const text = activeButton.querySelector('.navigation-text');
        activeButton.classList.add('button-active');
        activeForm.classList.add('active-form');
        text.classList.remove('visually-hidden');

        if (prevId !== id) {
          const prevButton = document.querySelector(`[href="#${prevId}"]`);
          const prevForm = document.querySelector(`#${prevId}`);
          const prevText = prevButton.querySelector('.navigation-text');
          prevButton.classList.remove('button-active');
          prevForm.classList.remove('active-form');
          prevText.classList.add('visually-hidden');
          prevId = id;
        }
      }
    },

    fileHandler(value) {
      if (!value) {
        this.getCurrentTranslator.duration.value = null;
        this.uploadStatus = null;
        this.getCurrentTranslator.categories.value = '';
        return;
      }
      // Функция отслеживания загрузки нашего файла
      const formData = new FormData();
      formData.append('file', this.getCurrentTranslator.file.value);

      axios.post(`${process.env.VUE_APP_BASE_URL}/adv/advertising/media`,
        formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
          onUploadProgress: function (progressEvent) {
            this.uploadPercentage = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100), 10);
          }.bind(this),
        })
        .then((res) => {
          this.uploadStatus = true;
          this.getAdvVideoFramesAction(res.data.id);
          this.setMediaIdAction(res.data.id);
        })
        .catch(() => {
          // console.log('UPLOAD_FILE_ERROR');
          this.uploadStatus = false;
        });

      // Функция получения типа файла
      const currentType = value.type.split('/')[0];
      switch (currentType) {
        case (this.categories.video.type): {
          this.getCurrentTranslator.categories.value = this.categories.video.name;
          this.costInSecond = 0.1;
          break;
        }
        case (this.categories.audio.type): {
          this.getCurrentTranslator.categories.value = this.categories.audio.name;
          this.costInSecond = 0.8;
          break;
        }
        case (this.categories.image.type): {
          this.getCurrentTranslator.categories.value = this.categories.image.name;
          this.costInSecond = 0.8;
          break;
        }
        default: {
          break;
        }
      }
      // Функция для получения продолжительности в минутах
      const file = value;
      const isImage = file.type.split('/')[0] === this.categories.image.type;
      if (isImage) {
        this.getCurrentTranslator.duration.value = 0;
        return;
      }
      window.URL = window.URL || window.webkitURL;
      const video = document.createElement('video');
      video.preload = 'metadata';
      video.onloadedmetadata = () => {
        window.URL.revokeObjectURL(video.src);
        const { duration } = video;
        file.duration = duration;
        this.getCurrentTranslator.duration.value = Math.round(file.duration);
        // this.durationVideo = this.getCurrentTranslator.duration.value;
        // console.log('DURATION', this.getCurrentTranslator.duration.value);
      };
      video.src = URL.createObjectURL(value);
    },

    submitHandler() {
      const errors = checkForm(this.getCurrentTranslator);
      this.setViewCostMonthAction(this.viewCostMonth);
      this.setTotalCostAction(this.totalCost);
      this.setViewCostAction(this.viewCost);
      this.setTechnicalCostAction(this.technicalCost);
      if (errors.length) {
        this.errors = errors;
      } else {
        this.errors = [];
        this.$navigate(ROUTES.TRANSLATOR_SHOW.NAME);
      }
    },

    onFunnelBlank() {
      this.$router.push('/funnel/create');
      window.scrollTo(0, 0);
    },

    agesSynchronize() {
      const from = Number(this.getCurrentTranslator.ages.value.from);
      const to = Number(this.getCurrentTranslator.ages.value.to);
      if (from > to) {
        this.getCurrentTranslator.ages.value.to = from;
      }
    },

    formHandler() {
      this.formIsActive = true;
    },

    clearForm() {
      this.setCurrentTranslatorAction(getInitialTranslatorForm());
    },
  },
};
</script>

<style lang="scss" scoped>
@import "src/styles/variables.scss";

:root {
  --color: '';
}

.funnel-create-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  padding-left: 100px;
}

.aside-bar {
  position: fixed;
  right: 250px;
  top: 300px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.balance-card {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 130px 1fr;
  background: #8EC13E;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  margin: 50px 0;
  padding: 15px 10px 10px 15px;
}

.aside-navigation {
  grid-column: 1 / 2;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
}

.aside-navigation-button {
  position: relative;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #BDBDBD;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 0;
  text-decoration: none;
}

.button-active {
  width: 15px;
  height: 15px;
  background-color: #3080D6;
  border: 1px solid #3080D6;
  animation: mymove 200ms;
  animation-fill-mode: forwards;
}

.circle {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #BDBDBD;
}

.button-active > .circle {
  background-color: #3080D6;
}

.aside-navigation-button:last-child {
  width: 15px;
  height: 15px;
  border: 1px solid #3080D6;
}

.aside-navigation-button:last-child > .circle {
  width: 9px;
  height: 9px;
  background-color: #3080D6;
}

.aside-navigation-button:first-child {
  width: 15px;
  height: 15px;
  border: 1px solid #3080D6;
  position: relative;
}

.aside-navigation-button:first-child > .circle {
  width: 9px;
  height: 9px;
  background-color: #3080D6;
}

.aside-navigation-button:first-child::before {
  content: '';
  display: block;
  position: absolute;
  top: 13px;
  left: 6px;
  width: 1px;
  height: 218px;
  background-color: #BDBDBD;
  z-index: -1;
}

.aside-navigation-button:hover {
  width: 15px;
  height: 15px;
  border: 1px solid #3080D6;
  transition: border ease 1s, width ease 150ms, height ease 150ms;
}

.aside-navigation-button:hover > .circle {
  width: 9px;
  height: 9px;
  background-color: #3080D6;
  transition: background-color ease 1s, width ease 150ms, height ease 150ms;
}

@keyframes mymove {
  0% {
    margin-bottom: 0
  }
  25% {
    margin-bottom: 25px
  }
  50% {
    margin-bottom: 50px
  }
  75% {
    margin-bottom: 75px
  }
  100% {
    margin-bottom: 98px
  }
}

.form-container {
  position: relative;
  box-sizing: border-box;
  padding: 30px 30px 30px 20px;
  width: 100%;
  max-width: 740px;
  margin-bottom: 40px;
  border-left: 4px solid transparent;
}

.active-form {
  border-left: 4px solid #3080D6;
}

.form-container:before {
  content: '';
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 0 10px 10px 0;
  opacity: 0.6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-left: 4px solid transparent;
}

.form-content {
  position: relative;
  z-index: 1;
}

.label-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 10px;
}

.category-container {
  display: grid;
  grid-template-columns: 85% 15%;
  grid-column-gap: 10px;
}

.clock-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
  padding-right: 3%;
}

.clock-text {
  font-family: $font-primary;
  @include add-font-size(500, 12px, 18px);
  color: #737373;
}

.input-text {
  font-family: $font-primary;
  @include add-font-size(400, 14px, 21px);
  color: #3C3C3C;
  margin-right: 35px;
  padding-bottom: 5px;
}

.controls-tittle {
  font-family: $font-primary;
  @include add-font-size(400, 14px, 21px);
  color: #3C3C3C;
  display: block;
  margin-right: 15px;
  padding-top: 20px;
  width: 100%;
  max-width: 115px;
}

.controls-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item-container {
  display: flex;
  padding: 10px;
  align-items: center;
  width: 100%;
}

.checkbox-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
}

.price-tittle {
  padding-top: 10px;
}

.alert-message {
  font-family: $font-primary;
  @include add-font-size(300, 12px, 18px);
  color: #D71D20;
  text-align: center;
}

.submit-button {
  margin: 0 auto;
  width: 250px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
  rgba(66, 96, 20, 0.15) 100%), #628B23;
  border-radius: 10px;
  font-family: $font-primary;
  @include add-font-size(300, 16px, 24px);
  color: #ffffff;
  text-transform: capitalize;
}

.navigation-text {
  position: absolute;
  display: block;
  width: 74px;
  top: -5px;
  left: 23px;
  color: #3C3C3C;
  font-family: $font-primary;
  @include add-font-size(500, 14px, 18px);
}

.load-container {
  display: grid;
  grid-template-columns: 165px 1fr;
  align-items: center;
}

.load-input {
  max-width: 520px;
  padding-right: 40px;
}

.question-container {
  padding: 30px;
}

.error-card {
  grid-column: 2 / -1;
  display: flex;
  flex-direction: column;
  background: #ffe2e3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  margin: 0;
  padding: 15px 10px 10px 15px;
  color: #D71D20;
}

.progress-bar {
  margin-right: 10px;
}

.file-progress-icon {
  padding-bottom: 7px;
}

.aside-button {
  position: fixed;
  right: 23%;
  bottom: 25px;
  margin: 0;
}

.clear-button {
  width: 250px;
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
  rgba(66, 96, 20, 0.15) 100%), #628B23;
  border-radius: 10px;
  font-family: $font-primary;
  @include add-font-size(300, 16px, 24px);
  color: #ffffff;
  text-transform: capitalize;
}

.load-video__input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.slider__wrapper {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.slider__min-value, .slider__max-value {
  border: 1px solid #C0C0C0;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: $font-primary;
  @include add-font-size(400, 12px, 18px);
  text-align: center;
  color: #3C3C3C;
  margin-top: -5px;
  position: relative;
}

.slider__min-value:after {
  content: '';
  position: absolute;
  display: block;
  background-color: #659023;
  width: 17px;
  height: 2px;
  right: -18px;
}

.slider__max-value:after {
  content: '';
  position: absolute;
  display: block;
  background-color: var(--color);
  width: 17px;
  height: 2px;
  left: -18px;
}

.slider__button {
  margin-top: -14px;
  padding-left: 10px;
  padding-right: 10px;
  color: #BDBDBD;
}

.slider__button:hover {
  color: #6b6b6b !important;
  transition: color ease 700ms;
}

.slider__text-container {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font-primary;
  @include add-font-size(500, 14px, 21px);
  color: #3C3C3C;
}

.slider__views {
  font-family: $font-primary;
  @include add-font-size(400, 14px, 21px);
  display: flex;
  align-items: center;
  color: #3C3C3C;
}

.slider__views:not(:last-child) {
  margin-bottom: 23px;
}
@media (max-width: 1300px) {
  .form-container {
    max-width: 700px;
  }
}

@media (max-width: 1250px) {
  .form-container {
    max-width: 600px;
  }

  .clear-button {
    max-width: 110px;
  }

  .input-text {
    margin-right: 10px;
  }

  .label-container:after {
    max-width: 469px;
  }

  .active-form .label-container:after {
    max-width: 469px;
  }
}

@media (max-width: 1600px) {
  .aside-bar {
    right: 50px;
  }

  .funnel-create-container {
    padding-left: 20px;
  }
}

.button-wrapper {
  display: flex;
  align-self: flex-start;
  margin-left: 155px;
  & button {
    margin-right: 65px;
  }
}

</style>
