<template>
  <div class="template-container">
    <div class="container">
      <div class="content">
        <section class="main-info">
          <h2 class="visually-hidden">Основная информация.</h2>
          <div class="info-item">
            <span class="key">Номер договора</span>
            <span class="value">{{this.getCurrentTranslator.id}}</span>
            <span class="key">Тема контента по интересам пользователя</span>
            <span class="value">{{interestsResult}}</span>
            <span class="key">Категория контента</span>
            <span class="value">{{this.getCurrentTranslator.categories.value}}</span>
            <span class="key">Файл</span>
            <span class="value">{{this.getCurrentTranslator.file.value.name}}</span>
            <span class="key">Время</span>
            <span class="value">{{this.getCurrentTranslator.duration.value}} секунд</span>
          </div>
          <div class="info-item">
            <span class="key">Вопрос</span>
            <span class="value">{{this.getCurrentTranslator.questions.value[0].question}}</span>
            <span class="key">Ответ</span>
            <span class="value">{{questionResult.value}}</span>
            <span class="key">Фоновая обложка</span>
            <img class="banner" :src="getCurrentFrame.frameUrl" width="100" height="99"/>
          </div>
        </section>
        <section class="details-info">
          <h2 class="visually-hidden">Подробности.</h2>
          <div class="info-item">
            <span class="key">Время</span>
            <span class="value">{{this.getCurrentTranslator.timeOfTheDay.value.toString()}}</span>
            <span class="key">Геолокация</span>
            <span class="value">{{this.getCurrentTranslator.geolocationName.value.toString()}}</span>
          </div>
          <div class="info-item">
            <span class="key">Пол</span>
            <div class="gender-wrapper">
              <span
                  v-for="(gender, idx) in getCurrentTranslator.gender.value"
                  :key="idx"
                  class="gender-icon"
                  :class="gender"
              />
            </div>
            <span class="key">Возраст</span>
            <span class="value">От {{this.getCurrentTranslator.ages.value.from}} до {{this.getCurrentTranslator.ages.value.to}}</span>
            <span class="key">Семейное положение</span>
            <span class="value">{{this.getCurrentTranslator.martialStatus.value}}</span>
            <span class="key">Образование</span>
            <span class="value">{{this.getCurrentTranslator.education.value}}</span>
            <span class="key">Доход</span>
            <span class="value">{{this.getCurrentTranslator.income.value}}</span>
            <span class="key">Религия</span>
            <span class="value">{{this.getCurrentTranslator.religion.value}}</span>
            <span class="key">Животные</span>
            <span class="value">{{this.getCurrentTranslator.animals.value}}</span>
          </div>
        </section>
        <section class="total-info">
          <h2 class="visually-hidden">Итоговая информация.</h2>
          <div class="info-item">
            <span class="key">Период тех. поддержки</span>
            <span class="value">{{this.getCurrentTranslator.technicalSupport.value}} дней</span>
            <span class="key">Сумма за тех. поддержку</span>
            <span class="value">{{getTechnicalCost}} руб.</span>
          </div>
          <div class="info-item">
            <span class="key">Колличество просмотров за 30 дней</span>
            <span class="value">{{getViewCostMonth}}</span>
            <span class="key">Сумма за просмотр</span>
            <span class="value">{{getViewCost}} руб.</span>
          </div>
        </section>
        <div class="price">
          <span class="key">Общая стоимость</span>
          <span class="total-text">{{getTotalCost}} руб.</span>
        </div>
      </div>
    </div>
    <div class="check-container">
      <section class="content">
        <h2 class="check-title">Счет на оплату</h2>
        <div class="link-wrapper">
          <a class="link" href="">Скачать</a>
          <a class="link" href="">Распечатать</a>
          <a class="link" href="">Отправить</a>
        </div>
        <strong class="about-transaction">Активация на следующий день после оплаты</strong>
      </section>
    </div>
    <div class="buttons-wrapper">
      <v-btn class="button" @click="$navigate(ROUTES.TRANSLATOR_CREATE.NAME)">Редактировать</v-btn>
      <v-btn class="button submit" color="#628B23" @click="addTranslator">Опубликовать</v-btn>
      <v-btn v-if="isNew" class="button" @click="clearForm">Удалить</v-btn>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
import {
  adaptTimesToString,
  getInitialTranslatorForm,
  getSortingTimes,
  humanizeTown,
} from '@/utils';
import { mockedTowns } from '@/mock-data';
import { ROUTES } from '@/router/routes-config';
import { CARDS_STATUS } from '@/const';

export default {
  name: ROUTES.TRANSLATOR_SHOW.NAME,
  data() {
    return {
      ROUTES,
    };
  },
  computed: {
    ...mapGetters(['getMediaId', 'getViewCostMonth', 'getAdaptToServerTranslator', 'getCurrentTranslator', 'getTranslators', 'getCurrentFrame', 'getTotalCost', 'getViewCost', 'getTechnicalCost', 'getActiveTranslator']),
    interestsResult() {
      const values = this.getCurrentTranslator.theme.value;
      const result = [];
      // eslint-disable-next-line guard-for-in,no-restricted-syntax
      for (const res in values) {
        result.push(values[res]);
      }
      return result.join(', ');
    },
    questionResult() {
      const values = this.getCurrentTranslator.questions.value[0];
      const result = [];
      // eslint-disable-next-line guard-for-in,no-restricted-syntax
      for (const res in values) {
        if (typeof values[res] !== 'string' && typeof values[res] !== 'number') {
          result.push(values[res]);
        }
      }
      return result.find((v) => v.status === true);
    },
    times() {
      return adaptTimesToString(getSortingTimes(this.getCurrentTranslator.timeOfTheDay.value));
    },
    town() {
      return humanizeTown(this.getCurrentTranslator.geolocationName.value, mockedTowns);
    },
    isNew() {
      return this.getCurrentTranslator.status === CARDS_STATUS.NEW;
    },
    haveDuration() {
      return Number(this.getCurrentTranslator.duration.value) > 0;
    },
  },
  methods: {
    ...mapActions(['setCurrentTranslatorAction', 'refreshTranslatorAction', 'createAdvertisingAction', 'createAdvertisingAction']),
    ...mapMutations(['addToTranslators', 'deleteInTranslators']),
    clearForm() {
      this.setCurrentTranslatorAction(getInitialTranslatorForm());
      this.$navigate(ROUTES.TRANSLATOR_CREATE.NAME);
    },

    addTranslator() {
      this.createAdvertisingAction([this.getMediaId, this.getAdaptToServerTranslator]);
      if (this.getCurrentTranslator.status === CARDS_STATUS.NEW) {
        this.getCurrentTranslator.status = CARDS_STATUS.ACTIVE;
        this.addToTranslators(this.getCurrentTranslator);
        this.setCurrentTranslatorAction(getInitialTranslatorForm());
        this.$navigate(ROUTES.TRANSLATOR_ACTIVE.NAME);
        return;
      }
      if (this.getCurrentTranslator.status === CARDS_STATUS.ARCHIVE) {
        this.getCurrentTranslator.status = CARDS_STATUS.ACTIVE;
        this.refreshTranslatorAction(this.getCurrentTranslator);
        this.setCurrentTranslatorAction(getInitialTranslatorForm());
        this.$navigate(ROUTES.TRANSLATOR_ACTIVE.NAME);
        return;
      }
      this.deleteInTranslators(this.getCurrentTranslator);
      this.addToTranslators(this.getCurrentTranslator);
      this.setCurrentTranslatorAction(getInitialTranslatorForm());
      this.$navigate(ROUTES.TRANSLATOR_ACTIVE.NAME);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "src/styles/variables.scss";

@mixin info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  border-bottom: 1px solid #CACACA;
  padding-bottom: 30px;
}

@mixin use-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto 20px auto;
  border-radius: 10px;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    opacity: 0.6;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.template-container {
  width: 100%;
  height: 100%;
}
.container {
  @include use-container;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding: 35px 40px;
}

.main-info {
  @include info-container;
}

.info-item {
  display: grid;
  grid-template-columns: 215px 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 20px;
}

.details-info {
  @include info-container;
  padding-top: 30px;
}

.total-info {
  @include info-container;
  padding-top: 30px;
}

.key {
  font-family: $font-primary;
  @include add-font-size(600, 14px, 21px);
  color: #3C3C3C;
}

.value {
  font-family: $font-primary;
  @include add-font-size(400, 12px, 18px);
  color: #3C3C3C;
}

.gender-wrapper {
  display: flex;
}

.gender-icon {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #70A420;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.male{
  background-image: url("/img/icons/male.png");
}

.female {
  background-image: url("/img/icons/female.png");
}

.price {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.total-text {
  margin-left: 20px;
  font-family: $font-primary;
  @include add-font-size(600, 14px, 21px);
  display: flex;
  align-items: center;
  color: #659023;
}

.check-container {
  @include use-container;
  max-width: 600px;
}

.check-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 13px;
  font-family: $font-primary;
  @include add-font-size(600, 14px, 21px);
  color: #3C3C3C;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.link {
  font-family: $font-primary;
  @include add-font-size(500, 14px, 21px);
  display: flex;
  align-items: center;
  color: #628B23;
}

.link:not(:last-child) {
  margin-right: 20px;
}

.about-transaction {
  text-align: center;
  font-family: $font-primary;
  @include add-font-size(500, 14px, 21px);
  color: #9B0000;

}

.buttons-wrapper {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-around;
}

.button {
  margin: 0 auto;
  width: 250px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(135, 135, 135, 0.25) 100%), #E7E7E7;
  border-radius: 10px;
  font-family: $font-primary;
  @include add-font-size(300, 16px, 24px);
  color: #3C3C3C;
  text-transform: capitalize;
}

.submit {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(66, 96, 20, 0.15) 100%), #628B23;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
}

</style>
