@font-face {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/montserrat-alternates/MontserratAlternates-SemiBold.ttf") format("ttf"),
    url("/fonts/montserrat-alternates/MontserratAlternates-SemiBold.woff") format("woff"),
    url("/fonts/montserrat-alternates/MontserratAlternates-SemiBold.eot") format("eot");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/montserrat-alternates/MontserratAlternates-Medium.ttf") format("ttf"),
    url("/fonts/montserrat-alternates/MontserratAlternates-Medium.woff") format("woff"),
    url("/fonts/montserrat-alternates/MontserratAlternates-Medium.eot") format("eot");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/montserrat-alternates/MontserratAlternates-Regular.ttf") format("ttf"),
    url("/fonts/montserrat-alternates/MontserratAlternates-Regular.woff") format("woff"),
    url("/fonts/montserrat-alternates/MontserratAlternates-Regular.eot") format("eot");
    font-display: swap;
}

@font-face {
    font-family: "Ticking Timebomb BB";
    font-style: normal;
    src: url("/fonts/ticking-time-bomb/ticking-time-bomb.ttf") format("ttf"),
    url("/fonts/ticking-time-bomb/ticking-time-bomb.woff") format("woff"),
    url("/fonts/ticking-time-bomb/ticking-time-bomb.woff2") format("woff2"),
    url("/fonts/ticking-time-bomb/ticking-time-bomb.eot") format('eot');
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/sourse-sans-pro/SourceSansPro-Bold.ttf") format("ttf"),
    url("/fonts/sourse-sans-pro/SourceSansPro-Bold.woff") format("woff"),
    url("/fonts/sourse-sans-pro/SourceSansPro-Bold.eot") format("eot");
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/sourse-sans-pro/SourceSansPro-SemiBold.ttf") format("ttf"),
    url("/fonts/sourse-sans-pro/SourceSansPro-SemiBold.woff") format("woff"),
    url("/fonts/sourse-sans-pro/SourceSansPro-SemiBold.eot") format("eot");
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/sourse-sans-pro/SourceSansPro-Medium.ttf") format("ttf"),
    url("/fonts/sourse-sans-pro/SourceSansPro-Medium.woff") format("woff"),
    url("/fonts/sourse-sans-pro/SourceSansPro-Medium.eot") format("eot");
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sourse-sans-pro/SourceSansPro-Regular.ttf") format("ttf"),
    url("/fonts/sourse-sans-pro/SourceSansPro-Regular.woff") format("woff"),
    url("/fonts/sourse-sans-pro/SourceSansPro-Regular.eot") format("eot");
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/sourse-sans-pro/SourceSansPro-Light.ttf") format("ttf"),
    url("/fonts/sourse-sans-pro/SourceSansPro-Light.woff") format("woff"),
    url("/fonts/sourse-sans-pro/SourceSansPro-Light.eot") format("eot");
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

/*Настройка скроллбара в компоненте created-template*/
.ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y {
    background-color: #5B9BDC;
}

.ps__thumb-y {
    background-color: #5B9BDC;
    border-radius: 4px;
    right: 0;
}

.ps--active-x > .ps__rail-x, .ps--active-y > .ps__rail-y {
    border-radius: 4px;
}

.ps:hover > .ps__rail-x, .ps:hover > .ps__rail-y, .ps--focus > .ps__rail-x, .ps--focus > .ps__rail-y, .ps--scrolling-x > .ps__rail-x, .ps--scrolling-y > .ps__rail-y {
    opacity: 1;
}

.ps__rail-y {
    width: 11px;
}

.ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
    background-color: #D0D0D0;
}

/*Позиционируем инконку слева на право и наклоняем input type=file в компоненте translator-create*/
.v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined .v-input__prepend-outer {
    position: absolute;
    top: 0;
    right: -45px;
    transform: rotate(208deg);
}

/* Фикс подсказки input type=file в компоненте translator-create */
.v-messages__message {
    line-height: 15px;
}

/*Стилизация datepicker vuetify*/
.v-text-field {
    margin: 0;
    padding: 0;
}

.v-input__slot {
    margin-bottom: 0;
}

.v-text-field input {
    display: block;
    padding: 20px 17px;
}

.v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot {
    padding-top: 0;
    height: 100%;
}

.input-container .v-text-field__details {
    display: none;
}
.v-text-field > .v-input__control > .v-input__slot:before {
    border-style: none;
}

.v-input__control {
    height: 100%;
    flex-direction: row;
}

.v-text-field > .v-input__control > .v-input__slot:after {
    border-style: none;
}

.leaflet-control-attribution svg {
    display: none !important;
}

.map-main path {
    stroke: white;
    stroke-width: 1px;
}

.users {
    -webkit-filter: drop-shadow( 0px 4px 2px rgba(0, 0, 0, 0.4));
    filter: drop-shadow( 0px 4px 2px rgba(0, 0, 0, 0.4));
}

.theme--light.v-icon:focus::after {
    opacity: 0;
}
/*Стилизация file-input в translator*/
div > .v-application .primary--text {
    color: rgba(0, 0, 0, 0.6) !important;
    caret-color: rgba(0, 0, 0, 0.6) !important;
}

.v-text-field--outlined fieldset {
    border-width: 1px !important;
}

.v-text-field--outlined:hover fieldset {
    border-color: #6EA020;
    border-width: 1px !important;
}
.v-text-field--outlined.v-input--is-focused fieldset {
    border-color: #6EA020 !important;
    border-width: 1px !important;
}

/* Стилизация тиков в слайдере на странице транслятор */
.v-slider__ticks-container--always-show .v-slider__tick {
    border-radius: 50%;
    background-color: #ABABAB;
}

.v-slider__tick--filled {
    background-color: #6EA020 !important;
}
