$font-primary: 'Source Sans Pro', Roboto, sans-serif;
$font-alternate: 'Montserrat Alternates', Roboto, sans-serif;
$font-decorative: 'Ticking Timebomb BB', Roboto, sans-serif;

@mixin add-font-size($weight, $size, $line-height) {
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}
