<template>
  <div class="main" id="app">
    <div class="main-wrapper">
      <v-row class="ma-0 promo">
        <v-col cols="7" class="promo-text-content">
          <p class="welcome-text">Добро пожаловать на сервис/p>
          <h1 class="promo-title">Project</h1>
          <p class="promo-text">
            Сервис для размещения рекламы в одноименном приложении. Платформа на 100% гарантирует попадание в вашу целевую аудиторию.
          </p>
          <p class="promo-text">
            Первым делом зайдите в раздел Презентация. Познакомьтесь с нами и узнайте, чем сервис будет полезен для подъема ваших финансовых результатов!
          </p>
        </v-col>
        <v-col cols="5" class="promo-content">
          <div class="promo-image">
            <div class="promo-play-content">
              <v-btn outlined fab color="#D71D20" class="promo-play-button">
                <v-icon size="100">mdi-play</v-icon>
              </v-btn>
            </div>
          </div>
        </v-col>
      </v-row>
      <v-row class="ma-0">
        <v-col cols="12" class="map-content">
          <map-main/>
        </v-col>
      </v-row>
      <v-row>
        <div class="map-faq">
          <span class="map-circle-active text-map">Активные регионы</span>
          <span class="map-circle-users text-map">Пользователи</span>
        </div>
      </v-row>
      <v-row class="ma-0 px-lg-13 px-md-6 px-sm-3 mb-13">
        <v-col sm="4" md="3" lg="2" v-for="town in towns" :key="town.name">
          <div class="town-container card-container">
            <img class="town-image" :src="town.iconSrc" alt="Герб">
            <div class="town-text-wrapper">
              <span>{{town.name}}</span>
              <span class="town-population">{{town.population}}</span>
            </div>
          </div>
        </v-col>
      </v-row>
      <v-row class="ma-0 px-lg-13 px-md-6 px-sm-3 mb-13 flex-container">
        <v-col cols="12" class="d-flex justify-center">
          <h3 class="road-title">Старт</h3>
        </v-col>
        <v-row class="ma-0 flex-container mb-9" v-for="road in roads" :key="road.id">
          <v-row class="ma-0 pa-0 mb-2 justify-space-between">
            <v-col sm="6" md="4" lg="2" class="road-item pa-0">
              <div class="card-item d-flex justify-center align-center">
                <span class="data-text">{{road.date}}</span>
              </div>
            </v-col>
            <v-col sm="6" md="4" lg="2" class="road-item pa-0">
              <div class="card-item d-flex justify-center align-center">
                <p class="ma-0"><span class="timer">{{road.daysSpent}}</span> дня
                  <span class="timer">{{road.hoursSpent}}</span> часов</p>
              </div>
            </v-col>
          </v-row>
          <v-row class="ma-0 pa-0">
            <v-col cols="12>" class="px-0 pt-0">
              <div class="card-container road-towns">
                <v-list class="list-container">
                  <v-list-item class="justify-center col-sm-4 col-md-2 towns-text"
                               v-for="town in road.towns" :key="town">
                    {{town}}
                  </v-list-item>
                </v-list>
              </div>
            </v-col>
          </v-row>
        </v-row>
      </v-row>
      <section class="perspective">
        <h2 class="perspective__title">Запуск в перспективе</h2>
        <div class="perspective__container">
          <PerfectScrollbar>
            <div class="perspective__items">
              <p v-for="item in perspectiveRegions" :key="item"> {{ item }}</p>
            </div>
          </PerfectScrollbar>
          <span class="perspective__not-current-city">Нет вашего города в списке - следите за новостями</span>
        </div>
      </section>
    </div>
    <v-footer dark min-width="100%" color="#232C4B"
              class="py-0 px-sm-3 px-md-11 ma-0 d-flex flex-column main-footer">
      <v-row class="ma-0 pa-0 py-2 footer-menu wrap">
        <v-col sm="12" md="5" class="pa-0">
          <v-list  class="ma-0 pa-0 d-flex" color="#232C4B">
            <v-list-item class="pa-0 ma-0" v-for="item in footerNavigation"
                         :key="item.name"  @click="navigate(item.route)">
              <v-btn height="100%" width="100%" plain class="navigation-link">
                {{ item.name }}
              </v-btn>
            </v-list-item>
          </v-list>
        </v-col>
        <v-col cols="2" class="pa-0 footer-logo-container hidden-sm-and-down">
          <div class="footer-logo">
            <img src="/img/icons/rekset-footer.svg" alt="Логотип">
          </div>
        </v-col>
        <v-col sm="12" md="5" class="pa-0 d-flex justify-space-between align-center wrap">
          <address class="px-2">
            <a class="phone-number" href="tel:88002005252"> 8 800 200 52 52</a>
          </address>
          <v-list  class="ma-0 pa-0 d-flex" color="#232C4B">
            <v-list-item class="pa-1" v-for="item in socialIcons"
                         :key="item.name">
              <v-btn x-small outlined fab
                     class="social-link" :href="item.link">
                <img :src="item.src" :alt="item.name">
              </v-btn>
            </v-list-item>
          </v-list>
        </v-col>
      </v-row>
      <v-row class="pa-0 ma-0 d-flex justify-space-between align-center copyright-content">
        <strong class="copyright-text">&copy; Project 2022</strong>
        <address>
          <a class="mail-link" href="mailto:">www.www@adnet.ru</a>
        </address>
      </v-row>
    </v-footer>
  </div>
</template>

<script>
import { PerfectScrollbar } from 'vue2-perfect-scrollbar';
import mapMain from '@/components/map-main.vue';
import { getId } from '@/utils';
import { regions } from '@/regions';

export default {
  name: 'mainPage',
  components: {
    PerfectScrollbar,
    mapMain,
  },
  data: () => ({
    towns: [
      {
        name: 'Красноярск',
        iconSrc: '/img/icons/towns/krasnoyarsk.png',
        population: '1 500 456',
      },
      {
        name: 'Воронеж',
        iconSrc: '/img/icons/towns/voronezj.png',
        population: '456 452',
      },
      {
        name: 'Всеволожск',
        iconSrc: '/img/icons/towns/vsevolozjsk.png',
        population: '30 125',
      },
      {
        name: 'Гаджиев',
        iconSrc: '/img/icons/towns/gadjiev.png',
        population: '967 455',
      },
      {
        name: 'Калининград',
        iconSrc: '/img/icons/towns/kaliningrad.png',
        population: '1 500 456',
      },
      {
        name: 'Камешково',
        iconSrc: '/img/icons/towns/kameshkovo.png',
        population: '5 689',
      },
      {
        name: 'Керч',
        iconSrc: '/img/icons/towns/kerch.png',
        population: '356 800',
      },
      {
        name: 'Губинского',
        iconSrc: '/img/icons/towns/gubinskogo.png',
        population: '60 456',
      },
      {
        name: 'Дербент',
        iconSrc: '/img/icons/towns/derbent.png',
        population: '12 567',
      },
      {
        name: 'Клин',
        iconSrc: '/img/icons/towns/klin.png',
        population: '1 909',
      },
      {
        name: 'Балея',
        iconSrc: '/img/icons/towns/baleya.png',
        population: '357 002',
      },
      {
        name: 'Арзамас',
        iconSrc: '/img/icons/towns/arzamas.png',
        population: '563 854',
      },
      {
        name: 'Буденовск',
        iconSrc: '/img/icons/towns/budenovsk.png',
        population: '145 025',
      },
      {
        name: 'Заинск',
        iconSrc: '/img/icons/towns/zainsk.png',
        population: '234 593',
      },
      {
        name: 'Кунгура',
        iconSrc: '/img/icons/towns/kungura.png',
        population: '50 562',
      },
    ],
    roads: [
      {
        id: getId(),
        towns: ['Ханты-Мансийск', 'Большой Утриш', 'Великий Новгород', 'Звенигород', 'Дивноморское'],
        date: '02.05.2022',
        daysSpent: '05',
        hoursSpent: '18',
      },
      {
        id: getId(),
        towns: ['Ейск', 'Абакан', 'Енисейск', 'Железногорск', 'Ачинск'],
        date: '09.05.2022',
        daysSpent: '12',
        hoursSpent: '00',
      },
      {
        id: getId(),
        towns: ['Омск', 'Новосибирск', 'Бузулук', 'Верхнеуральск', 'Дубна'],
        date: '16.05.2022',
        daysSpent: '19',
        hoursSpent: '02',
      },
      {
        id: getId(),
        towns: ['Зерноград', 'Камешково', 'Кызыл', 'Липецк', 'Магадан'],
        date: '23.05.2022',
        daysSpent: '26',
        hoursSpent: '22',
      },
    ],
    footerNavigation: [
      {
        name: 'О компании',
        route: '/',
      },
      {
        name: 'Условия',
        route: '/',
      },
    ],
    socialIcons: [
      {
        name: 'VK',
        src: '/img/icons/vk.svg',
        link: '#',
      },
      {
        name: 'TG',
        src: '/img/icons/telegram.svg',
        link: '#',
      },
      {
        name: 'OK',
        src: '/img/icons/odnoklassniki.svg',
        link: '#',
      },
      {
        name: 'WU',
        src: '/img/icons/whatsup.svg',
        link: '#',
      },
      {
        name: 'VIB',
        src: '/img/icons/viber.svg',
        link: '#',
      },
    ],
  }),

  computed: {
    perspectiveRegions() {
      return regions.slice().filter((item) => item.isActive === false && item.regionName !== 'Российская Федерация').map((item) => item.regionName);
    },
  },
  mounted() {
    // this.$router.push('/funnel/create');
    window.scrollTo(0, 0);
  },
  methods: {
    navigate(route) {
      if (this.$store.stlthcheck.route !== route) {
        this.$router.push({ name: route });
      }
      this.setRouteAction(route);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "src/styles/variables.scss";

.ps {
  height: 360px;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  background-color: #f6f6f6;
}
.main:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../public/img/rekset-background.png");
  background-repeat: repeat;
  opacity: 0.05;
  z-index: 1;
}

.main-wrapper {
  position: relative;
  flex-grow: 1;
  z-index: 2;
}

.promo {
  padding-top: 100px;
  padding-bottom: 50px;
}

.promo-text-content {
  padding: 0 81px;
}

.welcome-text {
  font-family: $font-alternate;
  @include add-font-size(600, 20px, 44px);
  letter-spacing: 0.01em;
  color: #4DA300;
  margin-bottom: 70px;
}

.promo-title {
  font-family: $font-alternate;
  @include add-font-size(600, 36px, 44px);
  color: #D71D20;
}

.promo-text {
  font-family: $font-alternate;
  @include add-font-size(400, 20px, 24px);
}

.promo-content {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.promo-image {
  width: 100%;
  max-width: 368px;
  height: 496px;
  background-color: #D71D20;
  background-image: url("../../public/img/promo-background.jpeg");
  background-size: 100% auto;
  background-position: center;
  object-fit: cover;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  position: relative;
  padding-top: 20px;
}

.promo-play-content {
  width: 100%;
  max-width: 367px;
  height: 453px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(50px);
  position: absolute;
  top: -30px;
  left: -30px;
}

.promo-play-button {
  padding: 50px;
  font-size: 20px;
  border: 3px solid #D71D20;
}

.map-content {
  display: flex;
  justify-content: center;
}

.town-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 20px;
}

.town-image {
  margin-right: 11px;
}

.town-text-wrapper {
  display: flex;
  flex-direction: column;
  font-family: $font-alternate;
  @include add-font-size(600, 14px, 17px);
}

.town-population {
  color: #FF7C05;
}

.flex-container {
  flex-direction: column;
}

.road-title {
  font-family: $font-alternate;
  @include add-font-size(500, 32px, 39px);
  color: #D71D20;
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-container {
  min-height: 70px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.card-item {
  min-height: 35px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 4px;
}

.road-item {
  height: 40px;
}

.road-towns {
  min-height: 40px;
  padding: 0 10px;
}

.data-text {
  font-family: $font-alternate;
  @include add-font-size(600, 14px, 17px);
  letter-spacing: 0.01em;
  color: #D71D20;
}

.timer {
  font-family: $font-decorative;
  @include add-font-size(400, 18px, 18px);
  color: #4DA300;
}

.towns-text {
  font-family: $font-alternate;
  @include add-font-size(600, 14px, 17px);
}

.main-footer {
  position: relative;
  z-index: 2;
}

.footer-menu {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.46);;
}

.navigation-link {
  font-family: $font-alternate;
  @include add-font-size(500, 12px, 15px);
  text-align: center;
  text-transform: capitalize;
}

.footer-logo-container {
  position: relative;
}

.footer-logo {
  position: absolute;
  top: -30px;
  left: 30%;
  padding: 16px 16px 0 16px;
  background-color: #232C4B;
  border-radius: 50% 50% 0 0;
}

.phone-number {
  font-family: $font-alternate;
  @include add-font-size(500, 14px, 17px);
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.copyright-content {
  width: 100%;
}

.copyright-text {
  font-family: $font-alternate;
  @include add-font-size(500, 12px, 15px);
}

.mail-link {
  font-family: $font-alternate;
  @include add-font-size(500, 12px, 30px);
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.map-faq {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.text-map {
  font-family: $font-alternate;
  @include add-font-size(500, 14px, 17px);
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.map-circle-active {
  position: relative;
  margin-right: 50px;
}

.map-circle-active:before {
  content: '';
  display: block;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 4px;
  left: -15px;
  background-color: #3d8600;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.map-circle-users {
  position: relative;
}

.map-circle-users:before {
  content: '';
  display: block;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 4px;
  left: -15px;
  background-color: #FF7C05;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.perspective {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.perspective__title {
  font-family: $font-alternate;
  @include add-font-size(500, 32px, 39px);
  color: #3182D4;
  margin-bottom: 31px;
}

.perspective__container {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  width: 100%;
  padding: 50px;
  margin-bottom: 76px;
}

.perspective__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 40px;
}

.perspective__not-current-city {
  display: block;
  color: #D71D20;
  font-family: $font-alternate;
  @include add-font-size(500, 14px, 17px);
  text-align: center;
  text-decoration: none;
  margin-top: 45px;
}
</style>
