<template>
  <div >
    <v-app id="inspire">
      <nav v-if="isLoggedIn" class="header-stick">
        <div class="chips-container">
          <div class="company-chip" v-if="showCurrentCompany">
            {{getCurrentCompany.name}}
            <v-icon class="close-icon" @click="closeCompanyHandler">mdi-close</v-icon>
          </div>
        </div>
        <v-toolbar flat dark color="#232C4B" class="pt-0" min-height="70" height="auto" width="100%">
          <router-link class="logo-button ma-0 pa-0" :to="ROUTES.MAIN_PAGE.ROUTE">
            <svg class="logo-icon" width="75" height="77" viewBox="0 0 75 77" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18.2527 -0.664474C22.3138 6.79188 19.5636 16.132 12.1099 20.1973C4.65635 24.2627 -4.67816 21.5137 -8.73923 14.0573C-12.8003 6.60096 -10.0501 -2.73918 -2.59646 -6.80451C4.85715 -10.8698 14.1916 -8.12083 18.2527 -0.664474ZM-9.9694 -20.3416C-24.8967 -12.2001 -30.4044 6.50531 -22.2714 21.438C-14.1384 36.3707 4.55568 41.876 19.4829 33.7345C34.4102 25.5929 39.9179 6.88756 31.7849 -8.04517C23.6519 -22.9779 4.95784 -28.4832 -9.9694 -20.3416Z" fill="#4DA300"/>
              <path d="M36.523 21.8928C36.4481 23.1031 36.3526 24.3529 36.227 25.6421C35.5751 32.3782 34.1453 40.8628 31.2007 50.4814C30.5532 50.8722 29.896 51.254 29.2255 51.6197C4.50482 65.1029 -26.4596 55.9872 -39.9303 31.2537C-51.7847 9.48845 -46.1407 -17.11 -27.7715 -32.3727C-29.1184 -26.4317 -29.9076 -21.0895 -30.3478 -16.5318C-31.3432 -6.19347 -30.7777 1.61883 -30.2348 5.92107C-30.3988 11.9046 -29.0429 18.0087 -25.9747 23.642C-16.7034 40.6647 4.6073 46.9436 21.6237 37.6624C28.3944 33.9698 33.4571 28.3694 36.523 21.8928Z" fill="#D71D20"/>
              <path d="M49.6005 -17.5762C61.7612 4.75163 55.5067 32.1696 35.9889 47.2121C38.1834 39.1013 39.3297 31.8991 39.9009 26.0022C40.9605 14.9833 40.249 6.83427 39.6825 2.74617C39.179 -1.58683 37.8586 -5.90005 35.6448 -9.96461C26.3735 -26.9872 5.06279 -33.2662 -11.9573 -23.9832C-18.9659 -20.1605 -24.146 -14.2947 -27.1742 -7.52551C-27.1267 -10.1523 -26.975 -13.0418 -26.6739 -16.1717C-26.1434 -21.6628 -25.0937 -28.3212 -23.1269 -35.8025C-21.9758 -36.5567 -20.7867 -37.2754 -19.5609 -37.9439C5.1634 -51.4289 36.1295 -42.3095 49.6005 -17.5762Z" fill="#3182D4"/>
            </svg>
          </router-link>
          <v-container fluid class="mx-6">
            <v-row class="pa-0 pl-16 justify-space-between">
              <v-col cols="2" class="ma-0 pa-0 d-flex align-center">
                <img class="avatar mr-2" :src="getMyCompany.companyImg" alt="Аватар компании">
                <span class="user-name mr-5">{{getMyCompany.name}}</span>
              </v-col>
              <v-col cols="5" class="pa-0 d-flex justify-end align-center">
                <v-menu ref="company" :close-on-content-click="false"
                        transition="scale-transition"
                        nudge-left="275"
                        nudge-bottom="20"
                        origin="top right"
                        v-model="company"
                        offset-y v-if="isAgency">
                  <template v-slot:activator="{ on, attrs }"
                            v-if="$checkAccess(getUserScopes, [ADV_USER_SCOPES.FINANCE.VALUE, ADV_USER_SCOPES.TOOLS.VALUE])">
                    <v-btn plain class="navigation-link" v-bind="attrs" v-on="on">
                      Компании
                    </v-btn>
                  </template>
                  <div class="companies">
                    <ui-input :model="inn" @input="inn = $event" max-width="200px" margin="0"/>
                    <button class="add-inn-button" type="button" :disabled="getIsLoading" @click="addCompanyHandler">
                      <v-progress-circular
                          v-if="getIsLoading"
                          :width="2"
                          :size="20"
                          indeterminate
                          color="#ffffff">
                      </v-progress-circular>
                      <span v-else>Добавить</span>
                    </button>
                    <ul class="companies__list" v-if="getCompanies.length">
                      <li v-for="company in getCompanies" :key="company.inn">
                        <button class="item-button" @click="chooseCompanyHandler(company)">{{company.name}}</button>
                      </li>
                    </ul>
                  </div>
                </v-menu>
                <v-menu open-on-click bottom offset-y transition="slide-y-transition" v-if="$checkAccess(getUserScopes, [])">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn plain class="navigation-link" v-bind="attrs" v-on="on">
                      Инструменты
                    </v-btn>
                  </template>
                  <v-list class="pa-0">
                    <template v-for="tool in tools">
                      <v-list-item link v-if="$checkAccess(getUserScopes, tool.access)" class="pa-0" :key="tool.name">
                        <router-link :to="tool.route" class="tool-link">{{ tool.name }}</router-link>
                      </v-list-item>
                    </template>
                  </v-list>
                </v-menu>
                <v-btn plain class="navigation-link" @click="$navigate(ROUTES.HELP.NAME)">
                  Помощь
                </v-btn>
                <v-menu open-on-click bottom offset-y transition="slide-y-transition">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn plain large class="navigation-link" v-bind="attrs" v-on="on">
                      <v-icon class="account-icon mr-2">mdi-account-outline</v-icon>
                      {{ name }}
                      <v-icon class="ml-6">mdi-menu-down</v-icon>
                    </v-btn>
                  </template>
                  <v-list class="pa-0">
                    <template v-for="link in userLinks">
                      <v-list-item link  :key="link.name" v-if="$checkAccess(getUserScopes, link.access)">
                        <router-link :to="link.route"
                                     class="tool-link">{{ link.name }} </router-link>
                      </v-list-item>
                    </template>
                  </v-list>
                </v-menu>
                <div>
                  <v-btn text color="gray" @click="logout_method()">
                    <span>Выход</span>
                    <v-icon right small>logout</v-icon>
                  </v-btn>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-toolbar>
      </nav>

      <nav v-else>
        <v-toolbar flat dark color="#232C4B" class="padding-toolbar header-stick" min-height="70" height="auto">
          <v-app-bar-nav-icon class="hidden-md-and-up" @click="drawer = !drawer"></v-app-bar-nav-icon>
          <v-container fluid class="mx-2">
            <v-row justify="space-between">
              <div class="logo-container">
                <h1 class="visually-hidden">Логотип</h1>
              </div>
              <v-list class="ma-0 pa-0 hidden-sm-and-down" color="#232C4B">
                <v-container>
                  <v-row justify="space-around">
                    <v-col class="pa-0" v-for="item in navigationLinks"
                           :key="item.name">
                      <v-list-item @click="$navigate(item.route)">
                        <v-btn plain class="navigation-link">
                          {{ item.name }}
                        </v-btn>
                      </v-list-item>
                    </v-col>
                  </v-row>
                </v-container>
              </v-list>
              <div>
                <v-btn fab small outlined class="mr-3" @click="$navigate(ROUTES.LOGIN.NAME)">
                  <v-icon white--text>mdi-login-variant</v-icon>
                </v-btn>
                <span>Войти</span>
              </div>
            </v-row>
          </v-container>
        </v-toolbar>
      </nav>

      <v-navigation-drawer
          v-model="drawer"
          app
          style="margin-top:70px;"
          class="hidden-md-and-up"
      >
        <v-divider></v-divider>
        <v-list class="ma-0 pa-0">
          <v-container>
            <v-row justify="space-around">
              <v-col class="pa-0" v-for="item in navigationLinks"
                     :key="item.name">
                <v-list-item @click="$navigate(item.route)">
                  <v-btn plain class="navigation-link">
                    {{ item.name }}
                  </v-btn>
                </v-list-item>
              </v-col>
            </v-row>
          </v-container>
        </v-list>
      </v-navigation-drawer>

      <v-main class="pa-0">
        <v-container class="pa-0 height-wrapper" fluid>
          <v-row class="ma-0 height-wrapper">
            <v-col class="pa-0 height-wrapper" cols="12">
              <router-view></router-view>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
      <popup-drafts v-if="getDraftType"/>
    </v-app>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { ROUTES } from '@/router/routes-config';
import PopupDrafts from '@/components/popup-drafts.vue';
import { COMPANY_TYPE, ADV_USER_SCOPES } from '@/const';

export default {
  components: {
    PopupDrafts,
  },
  data() {
    return {
      ADV_USER_SCOPES,
      ROUTES,
      company: false,
      isMain: true,
      drawer: null,
      flag: false,
      user: true,
      type: null,
      isRegistered: false,
      isSigedIn: false,
      userData: null,
      inn: '',
      tools: [
        {
          access: [ADV_USER_SCOPES.FINANCE.VALUE,
            ADV_USER_SCOPES.STATISTICS.VALUE,
            ADV_USER_SCOPES.TOOLS.VALUE],
          name: 'Воронка',
          route: ROUTES.FUNNEL_LAYOUT.ROUTE,
        },
        {
          access: [],
          name: 'Аналитика',
          route: ROUTES.ANALYTICS.ROUTE,
        },
        {
          access: [ADV_USER_SCOPES.FINANCE.VALUE,
            ADV_USER_SCOPES.STATISTICS.VALUE,
            ADV_USER_SCOPES.TOOLS.VALUE],
          name: 'Транслятор',
          route: ROUTES.TRANSLATOR_LAYOUT.ROUTE,
        },
      ],
      userLinks: [
        {
          access: [ADV_USER_SCOPES.FINANCE.VALUE,
            ADV_USER_SCOPES.STATISTICS.VALUE,
            ADV_USER_SCOPES.TOOLS.VALUE],
          name: 'Настройка',
          route: ROUTES.ADV_ABOUT_INFO.ROUTE,
        },
        {
          access: [ADV_USER_SCOPES.FINANCE.VALUE,
            ADV_USER_SCOPES.STATISTICS.VALUE,
            ADV_USER_SCOPES.TOOLS.VALUE],
          name: 'История',
          route: ROUTES.HISTORY.ROUTE,
        },
        {
          access: [ADV_USER_SCOPES.FINANCE.VALUE,
            ADV_USER_SCOPES.STATISTICS.VALUE,
            ADV_USER_SCOPES.TOOLS.VALUE],
          name: 'Компании',
          route: ROUTES.COMPANIES.ROUTE,
        },
        {
          access: [ADV_USER_SCOPES.FINANCE.VALUE,
            ADV_USER_SCOPES.STATISTICS.VALUE,
            ADV_USER_SCOPES.TOOLS.VALUE],
          name: 'Уведомления',
          route: ROUTES.NOTIFICATIONS.ROUTE,
        },
      ],
      navigationLinks: [
        {
          name: 'Презентация',
          route: '/',
        },
        {
          name: 'Условия',
          route: '/',
        },
        {
          name: 'Помощь',
          route: '/',
        },
      ],
    };
  },

  mounted() {
    this.updateCompanyInfoAction();
    this.updateUserInfoAction();
    if (this.$cookie.get('user')) {
      const user = {
        user: true,
        role: this.$cookie.get('role'),
        type: this.$cookie.get('type'),
        scopes: this.$cookie.get('scopes').split('.'),
      };
      this.persistentLoged(user);
    }
  },
  computed: {
    ...mapGetters(['getDraftType',
      'getMyCompany',
      'getCompanies',
      'getIsLoading',
      'getCurrentCompany',
      'getUserInfo',
      'getUserName',
      'getUserScopes',
      'isLoggedIn']),
    name() {
      return this.getUserName;
    },
    isAgency() {
      return this.getMyCompany.companyType === COMPANY_TYPE.AGENCY.value;
    },
    showCurrentCompany() {
      return this.getCurrentCompany.id !== this.getMyCompany.id;
    },
  },
  methods: {
    ...mapActions(['setRouteAction',
      'logout',
      'advLogout',
      'addCompanyAction',
      'updateCurrentCompanyAction',
      'clearCurrentCompanyAction',
      'updateCompanyInfoAction',
      'updateUserInfoAction',
      'persistentLoged']),
    getCookie() {
      this.user = this.$cookie.get('user');
      this.type = this.$cookie.get('type');
    },
    async logout_method() {
      await this.advLogout();
      this.$cookie.delete('user');
      this.$cookie.delete('type');
      this.$cookie.delete('role');
      this.type = null;
      this.user = null;
      this.$store.commit('setAuthUser', false);
      this.$router.push('/');
    },

    addCompanyHandler() {
      this.addCompanyAction(this.inn);
    },

    chooseCompanyHandler(data) {
      this.updateCurrentCompanyAction(data);
      this.company = false;
    },

    closeCompanyHandler() {
      this.clearCurrentCompanyAction();
    },
  },
};
</script>

<style lang="scss" scoped>
@import "src/styles/variables.scss";

.header-stick {
  position: fixed;
  top: 0;
  left: 0;
  //height: 60px;
  width: 100%;
  //background-color: #fff;
  //border-bottom: 1px solid #eaeaea;
  z-index: 3;
}

.navigation-link {
  text-transform: capitalize;
}

.padding-toolbar {
  padding: 10px 143px 0 50px;
}

.height-wrapper {
  height: 100%;
}

@media (max-width: 1100px) {
  .padding-toolbar {
    padding-right: 50px;
  }
}

@media (max-width: 990px) {
  .padding-toolbar {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 600px) {
  .padding-toolbar {
    padding-right: 10px;
    padding-left: 10px;
  }
}

/*Меню личного кабинета*/
.logo-button {
  position: absolute;
  top: 0;
  left: 0;
}

.logo-button:hover .logo-icon {
  opacity: 0.7;
  transition: opacity 300ms ease;
}

.logo-container {
  position: relative;
  width: 160px;
  height: 40px;
}

.logo-container:before {
  content: url("/img/icons/logo-medium.svg");
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
}

.logo-container:after {
  content: url("/img/icons/logo-text.svg");
  display: block;
  position: absolute;
  top: -17px;
  right: 0;
}

.avatar {
  border-radius: 50%;
}

.user-name {
  font-family: $font-primary;
  @include add-font-size(600, 14px, 21px);
}

.tool-link {
  text-decoration: none;
  color: #000000;
  display: block;
  width: 100%;
  padding: 12px 16px;
}

.account-icon {
  display: block;
  padding: 4px 6px 6px 6px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

.companies {
  width: 388px;
  padding: 27px 22px;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 200px 1fr;
  grid-row-gap: 30px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  border-radius: 0 0 4px 4px;
}

.add-inn-button {
  padding: 10px;
  background: linear-gradient(180deg, #88B6E3 0%, #3182D4 100%), #FFFFFF;
  border-radius: 4px;
  font-family: $font-primary;
  @include add-font-size(300, 14px, 21px);
  color: #FFFFFF;
}

.companies__list {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.item-button {
  padding: 10px;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.item-button:hover {
  background-color: #c4c4c4;
  transition: background-color ease 500ms;
}

.chips-container {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 650px;
  top: 70px;
}

.company-chip {
  grid-column: 2 / -1;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  border-radius: 0 0 4px 4px;
  z-index: 4;
  padding: 10px 15px;
  margin-right: auto;
}

.close-icon {
  color: #BDBDBD;
  cursor: pointer;
  margin-left: 10px;
}

.close-icon:hover {
  color: #A0A0A0;
}
</style>
