<template>
  <main class="main">
    <h1 class="visually-hidden">Страница не найдена.</h1>
    <div class="main-wrapper">
      <header class="header">
        <h2 class="visually-hidden">Ссылка-логотип для перехода на главную страницу.</h2>
        <router-link class="link" to="/">
          <svg width="179" height="53" viewBox="0 0 179 53" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M34.4867 26.6996C34.3307 31.1093 30.6296 34.5576 26.2201 34.4015C21.8106 34.2455 18.3625 30.5442 18.5186 26.1345C18.6746 21.7248 22.3757 18.2765 26.7852 18.4326C31.1946 18.5887 34.6427 22.2899 34.4867 26.6996ZM27.0684 10.4267C18.2377 10.1142 10.8256 17.02 10.5131 25.8512C10.2006 34.6825 17.1061 42.095 25.9368 42.4074C34.7676 42.7199 42.1797 35.8141 42.4922 26.9829C42.8047 18.1517 35.8992 10.7392 27.0684 10.4267Z" fill="#4DA300"/>
            <path d="M36.6899 41.6248C36.3362 42.1461 35.9629 42.6797 35.5657 43.2229C33.4921 46.0624 30.608 49.4776 26.7465 52.9988C26.3535 53.0021 25.9585 52.9988 25.5619 52.9848C10.9378 52.4673 -0.500807 40.1912 0.0169028 25.5642C0.472368 12.6926 10.0332 2.29357 22.2871 0.333291C20.113 2.63318 18.3468 4.81297 16.9442 6.7344C13.7641 11.0936 11.9503 14.7367 11.0551 16.8042C9.39885 19.4363 8.39054 22.5249 8.27267 25.8564C7.91646 35.9234 15.7874 44.3745 25.8539 44.7306C29.8592 44.8725 33.6053 43.7089 36.6899 41.6248Z" fill="#D71D20"/>
            <path d="M52.9831 27.4386C52.5159 40.643 42.4652 51.2467 29.7557 52.8043C32.883 49.7587 35.3009 46.8418 37.1164 44.3562C40.5053 39.7097 42.3428 35.8774 43.1708 33.8993C44.0919 31.8285 44.6423 29.5501 44.7273 27.1464C45.0835 17.0794 37.2126 8.6283 27.1439 8.27199C22.9978 8.12529 19.1291 9.37645 15.9839 11.6014C16.7 10.4394 17.5323 9.18752 18.495 7.86768C20.1849 5.5528 22.4158 2.85347 25.2746 0.0289928C25.989 -0.00338823 26.711 -0.00988176 27.4361 0.0157956C42.0623 0.533383 53.5007 12.8116 52.9831 27.4386Z" fill="#3182D4"/>
            <path d="M63 21.0454H70.2082V22.4398H63V21.0454Z" fill="#DD0000"/>
            <path d="M179 15.5069H161.448V19.6385H167.777V36.4932H172.671V19.6385H179V15.5069Z" fill="white"/>
            <path d="M100.815 19.6387V15.5072H85.6115V36.4935H100.815V32.362H90.505V27.1271H99.4172V22.9955H90.505V19.6387H100.815Z" fill="white"/>
            <path d="M158.755 19.6387V15.5072H143.551V36.4935H158.755V32.362H148.444V27.1271H157.357V22.9955H148.444V19.6387H158.755Z" fill="white"/>
            <path d="M137.957 30.697C136.875 32.0274 135.337 32.8721 133.615 32.9017C130.267 32.9592 127.5 29.9158 127.435 26.1042C127.371 22.2925 130.033 19.1559 133.382 19.0984C135.026 19.0702 136.53 19.7912 137.643 20.9828L140.734 17.7604C138.762 16.0019 136.156 14.9528 133.315 15.0016C127.285 15.1051 122.48 20.1133 122.583 26.1875C122.686 32.2617 127.657 37.1019 133.687 36.9984C136.61 36.9482 139.245 35.7454 141.172 33.8277L137.957 30.697Z" fill="white"/>
            <path d="M76.8732 15.5069H65.3152V19.6384H76.8732C77.5894 19.6397 78.1696 20.5727 78.1696 21.7233C78.1696 22.8741 77.5894 23.8069 76.8732 23.8082V23.8466H65.3152L65.3152 36.4932H70.2087V27.9781H76.8732C80.2918 27.9781 83.0631 25.1864 83.0631 21.7425C83.0631 18.2987 80.2918 15.5069 76.8732 15.5069Z" fill="#4DA300"/>
            <path d="M109.223 36.4934V15.5072H104.329V36.4934H109.223Z" fill="white"/>
            <path d="M111.838 24.8785V24.7523L111.913 24.8154L111.838 24.8785ZM113.965 25.006L121.897 15.5075H116.538L110.607 22.6095V27.4026L118.199 36.4937H123.558L113.965 25.006Z" fill="white"/>
          </svg>
        </router-link>
      </header>
      <section class="card-wrapper">
        <h2 class="visually-hidden">Карточка для перехода на главную страницу.</h2>
        <UiCard margin="0 auto" max-width="1180px" padding="0">
          <div class="content">
            <p class="primary-text">Перейдите на главную, возможно она найдеться позже.</p>
            <p class="secondary-text">Страница потерялась.</p>
            <ui-button text-content="Вернуться на главную" button-type="button" :handler="$evt => $navigate(ROUTES.MAIN_PAGE.NAME)" margin="0 0 81px 17px"/>
          </div>
        </UiCard>
      </section>
    </div>
  </main>
</template>

<script>
import { ROUTES } from '@/router/routes-config';
import UiCard from '@/components/ui/ui-card.vue';
import UiButton from '@/components/ui/ui-button.vue';

export default {
  name: ROUTES.NOT_FOUND.NAME,
  components: {
    UiButton,
    UiCard,
  },

  data() {
    return {
      ROUTES,
    };
  },
};
</script>

<style lang="scss" scoped>
@import "src/styles/variables.scss";

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  background-color: #f6f6f6;
}
.main:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #838383;
  background-image: url("../../public/img/rekset-background.png");
  background-repeat: repeat;
  opacity: 0.2;
  z-index: 1;
}

.main-wrapper {
  position: relative;
  flex-grow: 1;
  z-index: 2;
  background-image: url("../../public/img/blue-circle.svg"), url("../../public/img/green-circle.svg"), url("../../public/img/red-circle.svg");
  background-repeat: no-repeat;
  background-position: top 0 left 0, bottom 0 center, top 0 right 0;
}

.header {
  padding-top: 40px;
  padding-left: 50px;
  margin-bottom: 30px;
}

.link {
  opacity: 1;
  transition: 500ms;
}

.link:hover {
  opacity: 0.6;
}

.card-wrapper {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  background-image: url("../../public/img/4-blue.svg"), url("../../public/img/0-red.svg"), url("../../public/img/4-green.svg");
  background-position: right 270px top 35px, right 250px top 163px, right 170px top 248px;
  background-repeat: no-repeat;
  padding: 60px;
}

.primary-text {
  font-family: $font-primary;
  @include add-font-size(600, 24px, 30px);
  letter-spacing: 0.01em;
  color: #3C3C3C;
  margin-top: 87px;
  margin-left: 17px;
  margin-bottom: 64px;
}

.secondary-text {
  font-family: $font-primary;
  @include add-font-size(600, 24px, 30px);
  letter-spacing: 0.01em;
  color: #3C3C3C;
  margin-bottom: 59px;
  margin-left: 17px;
}
</style>
