<template>
  <div>
    <span class="input-text">Ответы</span>
    <label class="answers-container">
      <input type="text" class="form-input answer-input" v-model="item.answer1.value">
      <span class="status">
        <v-icon :style="`border-color: ${getColor(item.answer1.status)}`"
                small :color="getColor(item.answer1.status)" class="check-icon" @click="answerStatusHandler('answer-1')">
          {{ getIcon(item.answer1.status)}}
        </v-icon>
      </span>
      <v-icon class="cleaner" @click="item.answer1.value = ''">
        mdi-close
      </v-icon>
    </label>
    <label class="answers-container">
      <input type="text" class="form-input answer-input" v-model="item.answer2.value">
      <span class="status">
        <v-icon :style="`border-color: ${getColor(item.answer2.status)}`" small :color="getColor(item.answer2.status)"
                class="check-icon" @click="answerStatusHandler('answer-2')">
          {{ getIcon(item.answer2.status)}}
        </v-icon>
      </span>
      <v-icon class="cleaner" @click="item.answer2.value = ''">
        mdi-close
      </v-icon>
    </label>
    <label class="answers-container">
      <input type="text" class="form-input answer-input" v-model="item.answer3.value">
      <span class="status">
        <v-icon :style="`border-color: ${getColor(item.answer3.status)}`" small :color="getColor(item.answer3.status)"
                class="check-icon" @click="answerStatusHandler('answer-3')">
          {{ getIcon(item.answer3.status)}}
        </v-icon>
      </span>
      <v-icon class="cleaner" @click="item.answer3.value = ''">
        mdi-close
      </v-icon>
    </label>
  </div>
</template>

<script>
export default {
  name: 'answers-card',
  props: {
    value: {
      type: Object,
      default() {
        return {};
      },
    },
  },

  data() {
    return {
      item: {
        answer1: {
          value: '',
          status: null,
        },
        answer2: {
          value: '',
          status: null,
        },
        answer3: {
          value: '',
          status: null,
        },
      },
    };
  },
  watch: {
    item: {
      handler() {
        this.$emit('input', this.item);
        this.$emit('click', this.item);
      },
    },
  },

  created() {
    this.item = { ...this.value };
  },

  methods: {
    getColor(status) {
      if (status === null) {
        return '#BDBDBD';
      }
      return status ? 'green' : 'red';
    },

    getIcon(status) {
      if (status === null) {
        return '';
      }
      return status ? 'mdi-check' : 'mdi-close';
    },

    answerStatusHandler(answer) {
      // console.log('!!!!!!CHANGE_STATUS!!!!!!', answer);
      this.item.answer1.status = false;
      this.item.answer2.status = false;
      this.item.answer3.status = false;
      switch (answer) {
        case ('answer-1'): {
          this.item.answer1.status = true;
          break;
        }
        case ('answer-2'): {
          this.item.answer2.status = true;
          break;
        }
        case ('answer-3'): {
          this.item.answer3.status = true;
          break;
        }
        default: {
          break;
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "src/styles/variables.scss";

.answers-container {
  position: relative;
  display: block;
}

.answers-container:not(:last-child) {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  max-width: 520px;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  padding: 8px;
}

.form-input:focus {
  outline: none;
  border: 1px solid #6EA020;
}

.form-input:hover {
  outline: none;
  border: 1px solid #6EA020;
}

.answer-input {
  padding-right: 77px;
  max-width: 664px;
}

.status {
  position: absolute;
  width: 41px;
  height: 41px;
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #BDBDBD;
  top: 0;
  right: 0;
}

.check-icon {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 3px;
  top: 11px;
  left: 9px;
  border: 1px solid #BDBDBD;
}

.input-text {
  font-family: $font-primary;
  @include add-font-size(400, 14px, 21px);
  color: #3C3C3C;
  margin-right: 35px;
  padding-bottom: 5px;
}

.cleaner {
  position: absolute;
  top: 9px;
  right: 45px;
  color: #BDBDBD;
  transition: 500ms;
  cursor: pointer;
}

.cleaner:hover {
  color: #6b6b6b;
}

@media (max-width: 1250px) {
  .input-text {
    margin-right: 10px;
  }
}
</style>
