<template>
  <div ref="overlay" class="overlay" @click="overlayHandler">
    <div class="user-create-card">
      <div class="user-create-card-content">
        <div class="card-title">
          <span>
            {{ cardTitle }}
          </span>
          <button class="close-button" @click="closeDialog()">
            <v-icon class="close-icon">mdi-close</v-icon>
          </button>
        </div>
        <div class="inputs-container">
          <ui-input :model="userToAdd.fio" @input="userToAdd.fio = $event" placeholder="ФИО" type="text"/>
          <ui-input :model="userToAdd.email" @input="userToAdd.email = $event" placeholder="Email" type="email"/>
          <ui-input :model="userToAdd.phone" @input="userToAdd.phone = $event" placeholder="Телефон" type="tel"/>
        </div>
        <div class='card-title'>
          <span>Права доступа</span>
        </div>
        <div class="checkbox-container">
          <label class="control" :for="ADV_USER_SCOPES.STATISTICS.LABEL">
            <input class="visually-hidden control-input"
                   v-model="userToAdd.scopes"
                   :id="ADV_USER_SCOPES.STATISTICS.LABEL"
                   type="checkbox" :name="ADV_USER_SCOPES.STATISTICS.LABEL"
                   :value="ADV_USER_SCOPES.STATISTICS.VALUE">
            <span class="control-checkbox"></span>
            <span class="control-text">{{ ADV_USER_SCOPES.STATISTICS.LABEL }}</span>
          </label>
          <label class="control" :for="ADV_USER_SCOPES.FINANCE.LABEL">
            <input class="visually-hidden control-input"
                   v-model="userToAdd.scopes"
                   :id="ADV_USER_SCOPES.FINANCE.LABEL"
                   type="checkbox" :name="ADV_USER_SCOPES.FINANCE.LABEL"
                   :value="ADV_USER_SCOPES.FINANCE.VALUE">
            <span class="control-checkbox"></span>
            <span class="control-text">{{ ADV_USER_SCOPES.FINANCE.LABEL }}</span>
          </label>
          <label class="control" :for="ADV_USER_SCOPES.TOOLS.LABEL">
            <input class="visually-hidden control-input"
                   v-model="userToAdd.scopes"
                   :id="ADV_USER_SCOPES.TOOLS.LABEL"
                   type="checkbox" :name="ADV_USER_SCOPES.TOOLS.LABEL"
                   :value="ADV_USER_SCOPES.TOOLS.VALUE">
            <span class="control-checkbox"></span>
            <span class="control-text">{{ ADV_USER_SCOPES.TOOLS.LABEL }}</span>
          </label>
        </div>
          <v-btn
              class="save-btn"
              text
              @click="userAction(userToAdd)">
            Сохранить
          </v-btn>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from 'vuex';
import UiInput from '@/components/ui/ui-input.vue';
import { ADV_USER_SCOPES, ADV_USER_ROLES } from '@/const';

export default {
  name: 'CreateUserCard',
  components: {
    UiInput,
  },
  props: {
    cardTitle: String,
    isEditMode: {
      default: true,
      type: Boolean,
    },
    userId: String,
    closeDialog: Function,
    userToAdd: Object,
  },
  data() {
    return {
      users: [],
      ADV_USER_SCOPES,
      ADV_USER_ROLES,
      rules: {
        required: (value) => !!value || 'Required.',
        counter: (value) => value.length >= 6 || 'Min 6 characters',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || 'Invalid e-mail.';
        },
        passwordConfirm: (value) => value === this.userData.password || 'Wrong password',
      },
    };
  },

  methods: {
    ...mapActions(['addAdvUserAction', 'updateAdvertiserAction', 'getAdvertiserAllUsersAction']),
    overlayHandler(evt) {
      if (this.$refs.overlay === evt.target) {
        this.closeDialog();
      }
    },
    // updateDataUser(data) {
    //   console.log('updateDataUser(data)');
    //   this.updateAdvertiserAction(data);
    // },
    async userAction(user) {
      // console.log('!!!!!!', user, this.isEditMode);
      if (this.isEditMode === false) {
        // console.log('!!! - AddUser', user);
        await this.addAdvUserAction(user);
        // await this.getAdvertiserAllUsersAction();
      } else {
        // console.log('!!! - UpdateUser', this.updateAdvertiserAction(user));
        await this.updateAdvertiserAction(user);
        // await this.getAdvertiserAllUsersAction();
      }
      await this.getAdvertiserAllUsersAction();
      this.closeDialog();
      // this.$emit.getAdvertiserAllUsersAction();
    },
  },
};
</script>
<style lang="scss" scoped>
@import "src/styles/variables.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

.card-title {
  font-family: $font-primary;
  @include add-font-size(500, 16px, 24px);
  color: #3C3C3C;
  margin-bottom: 30px;
}

.inputs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 28px;
  margin-bottom: 30px;
}

.user-create-card {
  max-width: 927px;
  margin: 100px auto;
  width: 100%;
  padding: 60px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 2;
  cursor: auto;
}

.user-create-card:before {
  content: '';
  position: absolute;
  padding: 20px;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  border-radius: 10px;
  opacity: 0.9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.user-create-card-content {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  margin-bottom: 50px;
}

.control {
  position: relative;

  padding-left: 39px;
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
}

.control-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 4px;
  background-color: #ffffff;
  outline: none;
  border: 1px solid #BDBDBD;
}

.control-input[type="checkbox"]:checked + .control-checkbox:after {
  content: url("/img/icons/checkbox-control.svg");
  position: absolute;
  top: 7%;
  left: 17%;
}

.control-input[type="checkbox"]:hover + .control-checkbox {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #6EA020;
}

.control-input[type="checkbox"]:checked + .control-checkbox {
  border: 1px solid #6EA020;
}

.control-input[type="checkbox"]:focus + .control-checkbox {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #6EA020;
}

.control-input[type="checkbox"]:active + .control-checkbox {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 1px solid #6EA020;
}

.control-text {
  display: block;
  font-family: $font-primary;
  @include add-font-size(500, 14px, 21px);
  color: #3C3C3C;
  padding-top: 3px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  color: #BDBDBD;
}

.close-icon {
  color: inherit !important;
}

.close-button:hover {
  color: #a2a2a2;
}

.save-btn {
  align-self: center;
  width: 100%;
  max-width: 239px;
  height: 42px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(66, 96, 20, 0.15) 100%), #628B23;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  color: #FFFFFF !important;
}

</style>
