<template>
  <v-container fluid>
    <div class="content-container" v-if="getAdvertiserUsers">
      <section class="content">
        <div v-for="user in getAdvertiserUsers" class="card" :key="user.id">
          <div class="item-container">
            <span class="avatar-round">
              <v-icon class="avatar-icon">mdi-account-outline</v-icon>
            </span>
          </div>
          <div>
            <p>{{user.fio}}</p>
            <p class="user-role">{{user.role}}</p>
          </div>
          <p>{{user.phone}}</p>
          <p>{{user.email}}</p>
          <div>
            <span class="user-scope" v-for="scope in user.scopes" :key="scope">
              {{scopes[scope]}}
            </span>
          </div>
          <div class='actions'>
            <button class="tools-button" @click="openDialog(false, user)">
<!--            <button class="tools-button" @click="openDialog()">-->
              <span class="visually-hidden">Редактировать.</span>
              <v-icon dense class="tools-icon">mdi-pencil</v-icon>
            </button>
            <button class="tools-button" @click="deleteItem(user.id)">
              <span class="visually-hidden">Удалить.</span>
              <v-icon dense class="tools-icon">mdi-delete</v-icon>
            </button>
          </div>
        </div>
      </section>
    </div>
    <v-container>
      <v-pagination v-model="page" :length="pagination.length" :total-visible="totalVisible"
                    @input="paginationHandler" color="#659023">
      </v-pagination>
    </v-container>
      <CreateUserCard v-if="dialog"
                      :cardTitle="'Изменить сотрудника'"
                      :closeDialog="closeDialog"
                      :addUser="addUser"
                      :userToAdd="userToAdd"/>
  </v-container>
</template>
<script>

import {
  mapGetters,
  mapActions,
} from 'vuex';
import { ADV_USER_ROLES, ADV_USER_SCOPES, INITIAL_PAGINATION_VALUE } from '@/const';
import { getCurrentCards, getDefaultUser, getPagination } from '@/utils';
import createUserCard from '@/views/adv/adv-user-card.vue';

export default {
  name: 'AdvUsers',
  search: '',
  components: {
    CreateUserCard: createUserCard,
  },
  data() {
    return {
      ADV_USER_SCOPES,
      ADV_USER_ROLES,
      totalVisible: 3,
      page: INITIAL_PAGINATION_VALUE,
      pagination: [],
      currentCards: [],
      users: [],
      userIid: '',
      scopes: {
        [ADV_USER_SCOPES.FINANCE.VALUE]: ADV_USER_SCOPES.FINANCE.LABEL,
        [ADV_USER_SCOPES.STATISTICS.VALUE]: ADV_USER_SCOPES.STATISTICS.LABEL,
        [ADV_USER_SCOPES.TOOLS.VALUE]: ADV_USER_SCOPES.TOOLS.LABEL,
      },
      emails: [],
      dialog: false,
      dialogMode: true,
      rules: {
        required: (value) => !!value || 'Required.',
        counter: (value) => value.length >= 6 || 'Min 6 characters',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || 'Invalid e-mail.';
        },
        password_confirm: (value) => value === this.userData.password || 'Wrong password',
      },
    };
  },
  computed: {
    ...mapGetters(['getCompanyInfo', 'getAdvertiser', 'getAdvertiserUsers', 'getAdvertiserUsers']),
  },
  watch: {
    getAdvertiser() {
      // console.log('getAdvertiserUsers()');
      this.pagination = getPagination(this.getAdvUsers, this.totalVisible);
      // this.currentCards = getCurrentCards(INITIAL_PAGINATION_VALUE, this.totalVisible, this.getAdvUsers);
      this.currentCards = getCurrentCards(INITIAL_PAGINATION_VALUE, this.totalVisible, this.getAdvUsers);
    },
    // getAdvertiser() {
    //   // console.log('WATCH_ADV-USERS_GET-ADVERTISER', this.currentCards);
    //   this.pagination = getPagination(this.getAdvertiser, this.totalVisible);
    //   this.currentCards = getCurrentCards(INITIAL_PAGINATION_VALUE, this.totalVisible, this.getAdvertiser);
    //   // this.currentCards = getCurrentCards(INITIAL_PAGINATION_VALUE, this.totalVisible, this.getAdvUsers);
    //   // console.log(this.getAdvertiser.users);
    // },
  },
  mounted() {
    this.getAdvertiserAllUsersAction();
    console.log('MOUNTED-USERS');
    // this.currentCards = this.getAdvUsers();
    // const isCookie = this.$cookie.get('access_token');
    // if (isCookie !== '') {
    //   const company = this.getCompanyAction();
    //   this.setAdvertiserAction(company);
    //
    //   if (this.getAdvertiser.users) {
    //     this.pagination = getPagination(this.getAdvertiser.users, this.totalVisible);
    //     this.currentCards = getCurrentCards(INITIAL_PAGINATION_VALUE, this.totalVisible, this.getAdvertiser.users);
    //   }
    // }
  },
  methods: {
    ...mapActions(['setRouteAction', 'deleteAdvUserAction', 'updateAdvertiserAction', 'setAdvertiserAction', 'getCompanyAction', 'getAdvertiserAllUsersAction']),
    paginationHandler() {
      this.currentCards = getCurrentCards(this.page, this.totalVisible, this.getAdvertiser.users);
    },
    addUser(userToAdd) {
      this.updateAdvertiserAction([userToAdd.id, userToAdd]);
    },
    deleteItem(user) {
      this.deleteAdvUserAction(user);
    },
    openDialog(mode, user) {
      this.dialogMode = mode;
      this.userToAdd = { ...user };
      this.dialog = true;
    },
    closeDialog() {
      this.userToAdd = getDefaultUser();
      this.dialog = false;
    },
    navigate(route) {
      if (this.$store.state.healthcheck.route !== route) {
        this.$router.push({ name: route });
      }
      this.setRouteAction(route);
    },
  },
};
</script>
<style lang="scss" scoped>
@import "src/styles/variables.scss";

.content {
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.content-container {
  max-width: 1180px;
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  margin: 40px auto 20px auto;
  border-radius: 10px;
}

.content-container:before {
  content: '';
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFEFF;
  border-radius: 10px;
  opacity: 0.6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.actions {
  display: flex;
  justify-content: space-around;
}

.user-create-dialog {
  width: 930px;
  max-width: 930px;
}

.card {
  border-bottom: 1px solid #DCDCDC;
  border-top: 1px solid #ffffff;
  padding: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 2fr 2fr 3fr 1fr;
  grid-gap: 40px;
  font-family: $font-primary;
  @include add-font-size(400, 14px, 21px);
  color: #303030;
}

.card:first-of-type {
  border-top: none;
}

.card:last-of-type {
  border-bottom: none;
}

.tools-button {
  padding: 0 9px;
  color: #C4C4C4;
}

.tools-icon {
  color: inherit;
}

.tools-button:hover {
  color: #838383;
}

.user-role {
  color: #777777;
  margin-bottom: 0;
}

.user-scope {
  display: block;
}

.item-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #3182D4;
  border-radius: 50%;
  border: 1px solid #3182D4;
}

.avatar-icon {
color: inherit;
}
</style>
