<template>
  <svg :class="`icon-black-box ${isActive? 'icon-black-box--active' : ''}`" aria-hidden="true" focusable="false" width="35" height="35" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.477 17.064a.603.603 0 0 0 .023-.164v-.8h.1a.6.6 0 0 0 .6-.6v-3c0-.09-.02-.174-.054-.25a.6.6 0 0 0-.546-.85H21V9a.6.6 0 0 0-.906-.516l-.073-.104-4.345 3.02H15.4l-3.712-2.651a.6.6 0 0 0-.933.351H10.7v2.3H7.6a.6.6 0 0 0-.593.507.6.6 0 0 0-.507.593v3a.6.6 0 0 0 .7.592V25.3a.6.6 0 0 0 .85.546c.076.035.16.054.25.054h15.6a.6.6 0 0 0 .6-.6v-1.755l1.219 1.213a2.654 2.654 0 0 0 3.745-3.763l-3.156-3.14a2.717 2.717 0 0 0-1.83-.79zM19.8 11.4h-2.021L19.8 9.995V11.4zm.601 1.2h3.6v2.3h-5.8v-2.3H20.4zm2.899 3.5h-1.408l1.112 1.276c.121-.066.248-.123.38-.169a.597.597 0 0 1-.084-.307v-.8zm-5.1 0h2.1l1.812 2.08a2.58 2.58 0 0 0 .305 3.293l1.085 1.078A.599.599 0 0 0 23.3 23v1.7h-5.1v-8.6zM17 12.6v2.3h-2.3v-2.3h.349c.14.053.292.052.428 0H17zm0 12.1v-8.6h-2.3v8.6H17zm-8.6-8.6v8.6h5.1v-8.6H8.4zm3.5-4.7v-1.025l1.435 1.025H11.9zm-4.2 1.2v2.3h5.8v-2.3H7.7zm17.903 5.963 3.155 3.14a1.654 1.654 0 0 1-2.334 2.346l-3.301-3.285a1.58 1.58 0 0 1 1.114-2.7h.154c.454 0 .89.179 1.212.5z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M35 17.5C35 27.165 27.165 35 17.5 35S0 27.165 0 17.5 7.835 0 17.5 0 35 7.835 35 17.5zm-1.2 0c0 9.002-7.298 16.3-16.3 16.3S1.2 26.502 1.2 17.5 8.498 1.2 17.5 1.2s16.3 7.298 16.3 16.3z"/>
  </svg>
</template>

<script>
import { AWARDS_NAME } from '@/const';

export default {
  name: AWARDS_NAME.BLACK_BOX,
  props: {
    isActive: Boolean,
  },
};
</script>

<style>
.icon-black-box {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 10px;
  fill: #3F3F3F;
}

.icon-black-box--active {
  fill: #3080D6;
}
</style>
