<template>
  <svg :class="`icon-cashback ${isActive? 'icon-cashback--active' : ''}`" aria-hidden="true" focusable="false" width="35" height="35" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M23.321 25.166a9.429 9.429 0 0 1-6.097 2.224 9.467 9.467 0 1 1 9.467-9.466h.757a10.217 10.217 0 0 0-2.32-6.486 10.224 10.224 0 1 0-1.734 14.638l-.868 2.846a.5.5 0 1 0 .956.291l1.271-4.165a.5.5 0 0 0-.389-.638.5.5 0 0 0-.51-.303l-4.333.434a.5.5 0 1 0 .1.995l3.7-.37z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.787 21.112v1.56h.888v-1.56h2.7v-.528h-2.7v-.732h2.256c1.064 0 1.9-.24 2.508-.72.616-.48.924-1.172.924-2.076 0-.896-.308-1.584-.924-2.064-.608-.48-1.444-.72-2.508-.72h-3.144v6.312h-1.26v.528h1.26zm.888-2.016h2.268c.816 0 1.44-.176 1.872-.528.44-.352.66-.852.66-1.5s-.22-1.148-.66-1.5c-.432-.352-1.056-.528-1.872-.528h-2.268v4.056z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5 35C27.165 35 35 27.165 35 17.5S27.165 0 17.5 0 0 7.835 0 17.5 7.835 35 17.5 35zm0-1.2c9.002 0 16.3-7.298 16.3-16.3S26.502 1.2 17.5 1.2 1.2 8.498 1.2 17.5s7.298 16.3 16.3 16.3z"/>
  </svg>
</template>

<script>
import { AWARDS_NAME } from '@/const';

export default {
  name: AWARDS_NAME.CASHBACK,
  props: {
    isActive: Boolean,
  },
};
</script>

<style>
.icon-cashback {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 10px;
  fill: #3F3F3F;
}

.icon-cashback--active {
  fill: #3080D6;
}
</style>
