<template>
  <svg :class="`icon-certificate ${isActive? 'icon-certificate--active' : ''}`" aria-hidden="true" focusable="false" width="35" height="35" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M25.463 17.267H17.85v.846h7.613v-.846zM25.463 19.804h-5.075v.846h5.075v-.846zM25.462 14.73H10.237v.845h15.225v-.846z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.392 10.5h16.916c.93 0 1.692.761 1.692 1.692v10.995c0 .93-.761 1.692-1.692 1.692H15.313v3.383l-2.115-2.114-2.114 2.114V24.88H9.392c-.93 0-1.692-.761-1.692-1.692V12.193c0-.93.761-1.692 1.692-1.692zm3.806 14.464 1.269 1.269v-3.3c-.423.17-.846.255-1.269.255-.423 0-.846-.085-1.269-.254v3.299l1.27-1.27zm-2.114-4.737c0 1.184.93 2.115 2.114 2.115 1.184 0 2.115-.93 2.115-2.115 0-1.184-.93-2.114-2.115-2.114-1.184 0-2.114.93-2.114 2.114zm15.224 3.806c.508 0 .846-.338.846-.846V12.193a.848.848 0 0 0-.846-.846H9.392c-.508 0-.846.338-.846.846v10.995c0 .423.338.846.846.846h1.692v-1.776a2.801 2.801 0 0 1-.846-2.03c0-1.607 1.353-2.96 2.96-2.96s2.96 1.353 2.96 2.96c0 .761-.338 1.523-.845 2.03v1.776h10.995z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M35 17.5C35 27.165 27.165 35 17.5 35S0 27.165 0 17.5 7.835 0 17.5 0 35 7.835 35 17.5zm-1.2 0c0 9.002-7.298 16.3-16.3 16.3S1.2 26.502 1.2 17.5 8.498 1.2 17.5 1.2s16.3 7.298 16.3 16.3z"/>
  </svg>
</template>

<script>
import { AWARDS_NAME } from '@/const';

export default {
  name: AWARDS_NAME.CERTIFICATE,
  props: {
    isActive: Boolean,
  },
};
</script>

<style>
.icon-certificate {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 10px;
  fill: #3F3F3F;
}

.icon-certificate--active {
  fill: #3080D6;
}
</style>
