<template>
  <svg :class="`icon-discount ${isActive? 'icon-discount--active' : ''}`" aria-hidden="true" focusable="false" width="35" height="35" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="m20.22 14.2-4.78 7h.77l4.78-7h-.77z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.15 17.72c.247.16.53.24.85.24.327 0 .61-.08.85-.24.247-.16.437-.383.57-.67.133-.287.2-.62.2-1s-.067-.713-.2-1a1.562 1.562 0 0 0-.57-.67c-.24-.16-.523-.24-.85-.24-.32 0-.603.08-.85.24a1.63 1.63 0 0 0-.58.67c-.133.287-.2.62-.2 1s.067.713.2 1c.14.287.333.51.58.67zm1.57-.68a.847.847 0 0 1-.72.35c-.3 0-.54-.12-.72-.36-.173-.24-.26-.567-.26-.98 0-.42.087-.747.26-.98.18-.24.42-.36.72-.36.307 0 .547.12.72.36.173.233.26.56.26.98 0 .42-.087.75-.26.99zM19.58 21.02c.247.16.53.24.85.24.327 0 .61-.08.85-.24.247-.16.437-.383.57-.67.14-.287.21-.62.21-1s-.07-.713-.21-1a1.562 1.562 0 0 0-.57-.67c-.24-.16-.523-.24-.85-.24-.32 0-.603.08-.85.24-.247.16-.437.383-.57.67-.133.287-.2.62-.2 1s.067.713.2 1c.133.287.323.51.57.67zm1.56-.68a.837.837 0 0 1-.71.35c-.3 0-.54-.117-.72-.35-.173-.24-.26-.57-.26-.99 0-.42.087-.747.26-.98.18-.24.42-.36.72-.36s.537.12.71.36c.18.24.27.567.27.98 0 .42-.09.75-.27.99z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.056 7.882a2.6 2.6 0 0 1 3.588 0l.73.695a1.4 1.4 0 0 0 1.054.384l1.005-.064a2.6 2.6 0 0 1 2.75 2.306l.11 1.001a1.4 1.4 0 0 0 .562.973l.811.597a2.6 2.6 0 0 1 .623 3.534l-.558.838a1.4 1.4 0 0 0-.195 1.106l.238.978a2.6 2.6 0 0 1-1.794 3.108l-.967.284a1.4 1.4 0 0 0-.86.721l-.447.903a2.6 2.6 0 0 1-3.372 1.227l-.922-.404a1.4 1.4 0 0 0-1.123 0l-.923.404a2.6 2.6 0 0 1-3.372-1.227l-.447-.903a1.4 1.4 0 0 0-.86-.721l-.966-.284a2.6 2.6 0 0 1-1.794-3.108l.237-.978a1.4 1.4 0 0 0-.195-1.106l-.558-.838a2.6 2.6 0 0 1 .623-3.534l.811-.597a1.4 1.4 0 0 0 .562-.973l.111-1a2.6 2.6 0 0 1 2.75-2.307l1.004.064a1.4 1.4 0 0 0 1.055-.384l.729-.695zm2.76.868a1.4 1.4 0 0 0-1.932 0l-.729.695a2.6 2.6 0 0 1-1.959.713l-1.005-.064a1.4 1.4 0 0 0-1.48 1.242l-.112 1.001a2.6 2.6 0 0 1-1.042 1.806l-.811.597a1.4 1.4 0 0 0-.336 1.903l.558.838a2.6 2.6 0 0 1 .362 2.053l-.237.98a1.4 1.4 0 0 0 .966 1.672l.966.284a2.6 2.6 0 0 1 1.597 1.34l.447.903a1.4 1.4 0 0 0 1.816.66l.923-.403a2.6 2.6 0 0 1 2.085 0l.922.404a1.4 1.4 0 0 0 1.816-.661l.447-.903a2.6 2.6 0 0 1 1.597-1.34l.966-.284a1.4 1.4 0 0 0 .967-1.673l-.238-.979a2.6 2.6 0 0 1 .362-2.053l.558-.838a1.4 1.4 0 0 0-.335-1.903l-.811-.597a2.6 2.6 0 0 1-1.043-1.806l-.111-1a1.4 1.4 0 0 0-1.48-1.243l-1.006.064a2.6 2.6 0 0 1-1.959-.713l-.729-.695z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5 35C27.165 35 35 27.165 35 17.5S27.165 0 17.5 0 0 7.835 0 17.5 7.835 35 17.5 35zm0-1.2c9.002 0 16.3-7.298 16.3-16.3S26.502 1.2 17.5 1.2 1.2 8.498 1.2 17.5s7.298 16.3 16.3 16.3z"/>
  </svg>
</template>

<script>
import { AWARDS_NAME } from '@/const';

export default {
  name: AWARDS_NAME.DISCOUNT,
  props: {
    isActive: Boolean,
  },
};
</script>

<style>
.icon-discount {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 10px;
  fill: #3F3F3F;
}

.icon-discount--active {
  fill: #3080D6;
}
</style>
