<template>
  <svg :class="`icon-prize ${isActive? '.icon-prize--active' : ''}`" aria-hidden="true" focusable="false" width="35" height="35" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5 21c3.038 0 5.5-2.686 5.5-6s-2.462-6-5.5-6-5.5 2.686-5.5 6 2.462 6 5.5 6zm0-1.2c2.279 0 4.3-2.049 4.3-4.8s-2.021-4.8-4.3-4.8-4.3 2.049-4.3 4.8 2.021 4.8 4.3 4.8z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.016 6.734a.52.52 0 0 1-.605.22c-2.061-.68-4.117 1.046-3.806 3.193a.52.52 0 0 1-.322.559c-2.016.803-2.482 3.447-.863 4.891a.52.52 0 0 1 .112.635c-1.027 1.912.315 4.236 2.484 4.302a.52.52 0 0 1 .494.414c.148.711.528 1.287 1.033 1.688V30.1l3.957-2.456 3.956 2.456v-7.463a2.885 2.885 0 0 0 1.034-1.689.52.52 0 0 1 .494-.414c2.169-.066 3.51-2.39 2.484-4.302a.52.52 0 0 1 .111-.635c1.62-1.444 1.154-4.088-.862-4.891a.52.52 0 0 1-.322-.559C24.706 8 22.65 6.274 20.589 6.954a.52.52 0 0 1-.605-.22c-1.142-1.846-3.826-1.846-4.968 0zm6.293 13.998a4.37 4.37 0 0 1-.964 1.187 1.71 1.71 0 0 1-1.78-.214 1.72 1.72 0 0 0-2.13 0 1.71 1.71 0 0 1-1.782.214 4.373 4.373 0 0 1-.962-1.184 1.72 1.72 0 0 0-1.639-1.4A1.72 1.72 0 0 1 10.59 16.8a1.72 1.72 0 0 0-.37-2.098 1.72 1.72 0 0 1 .509-2.882 1.72 1.72 0 0 0 1.065-1.845 1.72 1.72 0 0 1 2.242-1.881 1.72 1.72 0 0 0 2.002-.729 1.72 1.72 0 0 1 2.926 0 1.72 1.72 0 0 0 2.002.729 1.72 1.72 0 0 1 2.242 1.88 1.72 1.72 0 0 0 1.065 1.846 1.72 1.72 0 0 1 .509 2.882 1.72 1.72 0 0 0-.37 2.098 1.72 1.72 0 0 1-1.464 2.535 1.72 1.72 0 0 0-1.638 1.397zm-6.566 2.475c.808.18 1.698.021 2.435-.56a.52.52 0 0 1 .644 0c.737.581 1.626.74 2.434.56v4.736L17.5 26.232l-2.757 1.71v-4.735z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M35 17.5C35 27.165 27.165 35 17.5 35S0 27.165 0 17.5 7.835 0 17.5 0 35 7.835 35 17.5zm-1.2 0c0 9.002-7.298 16.3-16.3 16.3S1.2 26.502 1.2 17.5 8.498 1.2 17.5 1.2s16.3 7.298 16.3 16.3z"/>
  </svg>
</template>

<script>
import { AWARDS_NAME } from '@/const';

export default {
  name: AWARDS_NAME.PRIZE,
  props: {
    isActive: Boolean,
  },
};
</script>

<style>
.icon-prize {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 10px;
  fill: #3F3F3F;
}

.icon-prize--active {
  fill: #3080D6;
}
</style>
