<template>
  <svg :class="`icon-promo-code ${isActive? 'icon-promo-code--active' : ''}`" aria-hidden="true" focusable="false" width="35" height="35" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="m19.506 15-4.78 7h.77l4.78-7h-.77z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.436 18.52c.247.16.53.24.85.24.327 0 .61-.08.85-.24.247-.16.437-.383.57-.67.134-.287.2-.62.2-1s-.066-.713-.2-1a1.562 1.562 0 0 0-.57-.67c-.24-.16-.523-.24-.85-.24-.32 0-.603.08-.85.24a1.63 1.63 0 0 0-.58.67c-.133.287-.2.62-.2 1s.067.713.2 1c.14.287.334.51.58.67zm1.57-.68a.847.847 0 0 1-.72.35c-.3 0-.54-.12-.72-.36-.173-.24-.26-.567-.26-.98 0-.42.087-.747.26-.98.18-.24.42-.36.72-.36.307 0 .547.12.72.36.174.233.26.56.26.98 0 .42-.086.75-.26.99zM18.866 21.82c.247.16.53.24.85.24.327 0 .61-.08.85-.24.247-.16.437-.383.57-.67.14-.287.21-.62.21-1s-.07-.713-.21-1a1.562 1.562 0 0 0-.57-.67c-.24-.16-.523-.24-.85-.24-.32 0-.603.08-.85.24-.247.16-.436.383-.57.67-.133.287-.2.62-.2 1s.067.713.2 1c.134.287.323.51.57.67zm1.56-.68a.837.837 0 0 1-.71.35c-.3 0-.54-.117-.72-.35-.173-.24-.26-.57-.26-.99 0-.42.087-.747.26-.98.18-.24.42-.36.72-.36s.537.12.71.36c.18.24.27.567.27.98 0 .42-.09.75-.27.99z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.3 19.154 19.094 6.3l2.044 2.035a4.851 4.851 0 0 1 6.13 6.102l2.12 2.11L16.594 29.4 14.5 27.316a4.851 4.851 0 0 1-6.122-6.093L6.3 19.152zm8.527 6.794 1.763 1.755 11.1-11.153-1.79-1.782.226-.7a3.651 3.651 0 0 0-4.614-4.593l-.699.23-1.715-1.708-11.1 11.153 1.746 1.739-.223.698a3.651 3.651 0 0 0 4.608 4.587l.698-.226z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5 35C27.165 35 35 27.165 35 17.5S27.165 0 17.5 0 0 7.835 0 17.5 7.835 35 17.5 35zm0-1.2c9.002 0 16.3-7.298 16.3-16.3S26.502 1.2 17.5 1.2 1.2 8.498 1.2 17.5s7.298 16.3 16.3 16.3z"/>
  </svg>
</template>

<script>
import { AWARDS_NAME } from '@/const';

export default {
  name: AWARDS_NAME.PROMO_CODE,
  props: {
    isActive: Boolean,
  },
};
</script>

<style>
.icon-promo-code {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 10px;
  fill: #3F3F3F;
}

.icon-promo-code--active {
  fill: #3080D6;
}
</style>
