<template>
  <svg :class="`icon-stock ${isActive? 'icon-stock--active' : ''}`" aria-hidden="true" focusable="false" width="35" height="35" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M26.4 9.553v14.099a2.354 2.354 0 0 1-4.564.81l-8.51-2.665v.107h-1.84l1.396 5.878a1.538 1.538 0 1 1-2.992.71l-1.646-6.926A4.072 4.072 0 0 1 5.8 17.833a5.507 5.507 0 0 1 5.506-5.506h2.02v.064l8.401-3.24a2.354 2.354 0 0 1 4.673.402zM9.871 21.904c-.106 0-.212-.004-.316-.012l1.502 6.323a.338.338 0 0 0 .658-.156l-1.462-6.155h-.382zm1.786-1.2h-1.82A2.871 2.871 0 0 1 7 17.834a4.307 4.307 0 0 1 4.306-4.307h.475l-.124 7.177zM22.919 9.31a1.154 1.154 0 0 1 2.281.244v14.099a1.153 1.153 0 0 1-2.281.244V9.31zm-1.226 13.85V10.45l-8.366 3.228v6.861l8.366 2.62z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M35 17.5C35 27.165 27.165 35 17.5 35S0 27.165 0 17.5 7.835 0 17.5 0 35 7.835 35 17.5zm-1.2 0c0 9.002-7.298 16.3-16.3 16.3S1.2 26.502 1.2 17.5 8.498 1.2 17.5 1.2s16.3 7.298 16.3 16.3z"/>
  </svg>
</template>

<script>
import { AWARDS_NAME } from '@/const';

export default {
  name: AWARDS_NAME.STOCK,
  props: {
    isActive: Boolean,
  },
};
</script>

<style>
.icon-stock {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 10px;
  fill: #3F3F3F;
}

.icon-stock--active {
  fill: #3080D6;
}
</style>
