<template>
  <div class="form-container" id="auditory">
    <v-form class="form-content d-flex">
      <h2 class="controls-tittle">Целевая <br> аудитория</h2>
      <div class="controls-wrapper">
        <div class="item-container">
          <ui-checkbox
              type="checkbox"
              name="fe"
              for-value="fe"
              value="FEMALE"
              :model="value.gender.value"
              @change="value.gender.value = $event"
              text-content="Женщин"/>
          <ui-checkbox
              type="checkbox"
              name=""
              for-value=""
              value="MALE"
              :model="value.gender.value"
              @change="value.gender.value = $event"
              text-content="Мужчин"/>
        </div>
        <div class="item-container">
          <span class="input-text">Возраст</span>
          <label class="select-container ages-container">
            <select v-model="value.ages.value.from"
                    class="form-select ages-select"
                    name="ages"
                    @change="agesSynchronize">
              <option v-for="age in ages"
                      :key="age" :value="age">{{ age }}
              </option>
            </select>
            <span class="select-text">от</span>
          </label>
          <label class="select-container ages-container">
            <select v-model="value.ages.value.to"
                    class="form-select ages-select"
                    name="ages"
                    @change="agesSynchronize">
              <option v-for="age in ages"
                      :key="age" :value="age">{{ age }}
              </option>
            </select>
            <span class="select-text">до</span>
          </label>
        </div>
        <div class="auditory-select-container">
          <ui-select
              :model="value.education.value"
              @change="value.education.value = $event"
              name="education"
              :data="educations"
              :initial-value="INITIAL_SELECT_EDUCATION"/>
          <ui-select
              :model="value.income.value"
              @change="value.income.value = $event"
              name="income"
              :data="income"
              :initial-value="INITIAL_SELECT_INCOME"/>
          <ui-select
              :model="value.martialStatus.value"
              @change="value.martialStatus.value = $event"
              name="martial-status"
              :data="maritalStatus"
              :initial-value="INITIAL_SELECT_MARTIAL_STATUS"/>
          <ui-select
              :model="value.animals.value"
              @change="value.animals.value = $event"
              name="animals"
              :data="animals"
              :initial-value="INITIAL_SELECT_ANIMALS"/>
          <ui-select
              :model="value.auto.value"
              @change="value.auto.value = $event"
              name="auto"
              :data="auto"
              :initial-value="INITIAL_SELECT_AUTO"/>
          <ui-select
              :model="value.countryHouse.value"
              @change="value.countryHouse.value = $event"
              name="countryHouse"
              :data="countryHouse"
              :initial-value="INITIAL_SELECT_COUNTRY_HOUSE"/>
          <ui-select
              :model="value.business.value"
              @change="value.business.value = $event"
              name="business"
              :data="business"
              :initial-value="INITIAL_SELECT_BUSINESS"/>
          <ui-select
              :model="value.religion.value"
              @change="value.religion.value = $event"
              name="family"
              :data="religion"
              :initial-value="INITIAL_SELECT_RELIGION"/>
        </div>
      </div>
    </v-form>
  </div>
</template>

<script>
import UiSelect from '@/components/ui/ui-select.vue';
import UiCheckbox from '@/components/ui/ui-checkbox.vue';
import { getAges } from '@/utils';
import {
  INITIAL_SELECT_EDUCATION,
  INITIAL_SELECT_INCOME,
  INITIAL_SELECT_MARTIAL_STATUS,
  INITIAL_SELECT_ANIMALS,
  INITIAL_SELECT_COUNTRY_HOUSE,
  INITIAL_SELECT_AUTO,
  INITIAL_SELECT_BUSINESS, INITIAL_SELECT_RELIGION,
} from '@/const';

export default {
  name: 'auditory-form',

  components: {
    UiCheckbox,
    UiSelect,
  },

  props: {
    value: Object,
  },

  data() {
    return {
      INITIAL_SELECT_EDUCATION,
      INITIAL_SELECT_INCOME,
      INITIAL_SELECT_MARTIAL_STATUS,
      INITIAL_SELECT_ANIMALS,
      INITIAL_SELECT_COUNTRY_HOUSE,
      INITIAL_SELECT_AUTO,
      INITIAL_SELECT_BUSINESS,
      INITIAL_SELECT_RELIGION,
      ages: getAges(18, 100),
      educations: ['нет', 'Среднее', 'Техническое', 'Высшее', 'Более', 'Общее'],
      income: ['Низкий', 'Прожиточный', 'Средний', 'Высокий', 'Более', 'Общее'],
      maritalStatus: ['Пара', 'Пара с детьми', 'В поиске', 'Нет пары', 'Общее'],
      religion: ['Христианство', 'Ислам', 'Иудаизм', 'Буддизм', 'Общее'],
      animals: ['Кошка', 'Собака', 'Копытные', 'Зоопарк', 'Общее'],
      countryHouse: ['Сад', 'Огород', 'Общее'],
      auto: ['Российский', 'Иномарка', 'Общее'],
      business: ['Услуги', 'Продовольственный', 'Производство', 'Промышленность', 'Интернет', 'Общее'],
    };
  },

  methods: {
    agesSynchronize() {
      const from = Number(this.value.ages.value.from);
      const to = Number(this.value.ages.value.to);
      if (from > to) {
        this.value.ages.value.to = from;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "src/styles/variables.scss";


.form-container {
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  max-width: 740px;
  margin-bottom: 40px;
  border-left: 4px solid transparent;
}

.active-form {
  border-left: 4px solid #3080D6;
}

.form-container:before {
  content: '';
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 0 10px 10px 0;
  opacity: 0.6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-left: 4px solid transparent;
}

.form-content {
  position: relative;
  z-index: 1;
}

.controls-tittle {
  font-family: $font-primary;
  @include add-font-size(400, 14px, 21px);
  color: #3C3C3C;
  display: block;
  margin-right: 15px;
  padding-top: 20px;
  width: 100%;
  max-width: 115px;
}

.controls-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item-container {
  display: flex;
  padding: 10px;
  align-items: center;
  width: 100%;
}

.input-text {
  font-family: $font-primary;
  @include add-font-size(400, 14px, 21px);
  color: #3C3C3C;
  margin-right: 35px;
  padding-bottom: 5px;
}

.select-container {
  position: relative;
}

.select-container:after {
  content: '';
  display: block;
  position: absolute;
  height: 40px;
  width: 100%;
  max-width: 520px;
  border-radius: 4px;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  z-index: -2;
}

.select-container:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("/img/icons/select-arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 16px;
  right: 27px;
  z-index: -1;
}

.ages-container {
  display: flex;
  width: 130px;
}

.form-select {
  width: 100%;
  max-width: 520px;
  padding: 8px 50px 8px 8px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #BDBDBD;
}

.form-select:hover {
  border: 1px solid #6EA020;
}

.form-select:focus {
  outline: none;
  border: 1px solid #6EA020;
}

.ages-select {
  padding-left: 50px;
}

.ages-container:not(:last-child) {
  margin-right: 10px;
}

.select-text {
  position: absolute;
  top: 10px;
  left: 14px;
  font-family: $font-primary;
  @include add-font-size(500, 14px, 21px);
  display: flex;
  align-items: center;
  color: #838383;
  z-index: -1;
}

.auditory-select-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  padding: 10px;
}

@media (max-width: 1300px) {
  .form-container {
    max-width: 700px;
  }
}

@media (max-width: 1250px) {
  .form-container {
    max-width: 600px;
  }

  .input-text {
    font-size: 12px;
    line-height: 18px;
    margin-right: 10px;
  }
}
</style>
