<template>
  <div class="form-container" id="geolocation">
    <div class="form-content d-flex">
      <h2 class="controls-tittle">География показа</h2>
      <div class="controls-wrapper">
        <div class="item-container">
            <label class="label-container">
              <input class="form-input" v-model="addressValue" @click="toggleShowList"
                  type="text" v-debounce:700ms="getGeoAll" debounce-events="input"
                  placeholder="Начните вводить город, регион, край"
                  :name="name" :readonly="readonly" @focus="isOpened = true"
              />
            </label>
          <div class="towns-list" v-if="getAddressGeo.length && isOpened">
            <div class="overlay" @click="overlayHandler"></div>
            <perfect-scrollbar>
                <div class="towns-item" v-for="item in getAddressGeo" :key="item.value">
                  <ui-checkbox type="checkbox" name="name" :for-value="item.value" :value="item.value"
                               :model="value.geolocationName.value"
                               @change="value.geolocationName.value = $event" :text-content="item.value"/>
                </div>
            </perfect-scrollbar>
          </div>
          <div v-if="value.geolocationName.value.length" class="towns">
            <div class="town-tile" v-for="item in value.geolocationName.value" :key="`item-${item}`">
              <span>{{ item }} </span>
              <button class="delete-button" @click="deleteGeoPosition(item)"><v-icon class="delete-icon">mdi-close</v-icon></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { PerfectScrollbar } from 'vue2-perfect-scrollbar';
import { mapActions, mapGetters } from 'vuex';
import UiCheckbox from '@/components/ui/ui-checkbox.vue';
// import { getMockedTowns } from '@/mock-data';

export default {
  name: 'geolocation',

  components: {
    UiCheckbox,
    PerfectScrollbar,
  },

  props: {
    value: Object,
    placeholder: String,
    name: String,
    readonly: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      // addressInput: '',
      addressValue: '',
      checkAddress: [],
      isOpened: false,
      currentTowns: [],
      towns: [],
    };
  },
  computed: {
    ...mapGetters(['getAddressGeo']),
  },
  methods: {
    ...mapActions(['getAddressGeoList']),
    async getGeoAll() {
      await this.getAddressGeoList(this.addressValue);
      this.isOpened = true;
    },
    toggleShowList() {
      this.addressValue = this.getAddressGeo;
      this.isOpened = true;
      this.addressValue = '';
    },
    // filterTowns() {
    //   if (this.inputValue) {
    //     const value = this.inputValue.toLowerCase();
    //     const filterSearch = (town) => town.toLowerCase().includes(value);
    //     this.towns = getMockedTowns().filter((town) => filterSearch(town)).sort((itemA, itemB) => this.getScore(itemB) - this.getScore(itemA));
    //     this.isOpened = true;
    //     return;
    //   }
    //   this.isOpened = false;
    //   this.towns = [];
    // },
    overlayHandler() {
      this.isOpened = false;
    },
    // getScore(town) {
    //   const splitedTown = town.toLowerCase().split(' ');
    //   if (splitedTown.includes('край') || splitedTown.includes('область') || splitedTown.includes('республика')) {
    //     return 100;
    //   }
    //   return 1;
    // },
    deleteGeoPosition(index) {
      const idx = this.value.geolocationName.value.indexOf(index);
      this.value.geolocationName.value.splice(idx, 1);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "src/styles/variables.scss";

.ps {
  max-height: 300px;
}

.form-container {
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  max-width: 740px;
  margin-bottom: 40px;
  border-left: 4px solid transparent;
}

.active-form {
  border-left: 4px solid #3080D6;
}

.form-container:before {
  content: '';
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 0 10px 10px 0;
  opacity: 0.6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-left: 4px solid transparent;
}

.form-content {
  position: relative;
  z-index: 2;
}

.controls-tittle {
  font-family: $font-primary;
  @include add-font-size(400, 14px, 21px);
  color: #3C3C3C;
  display: block;
  margin-right: 15px;
  padding-top: 20px;
  width: 100%;
  max-width: 115px;
}

.controls-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  width: 100%;
  position: relative;
}

.label-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.form-input {
  position: relative;
  width: 100%;
  max-width: 520px;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  padding: 8px;
  z-index: 2;
}

.form-input:focus {
  outline: none;
  border: 1px solid #6EA020;
}

.form-input:hover {
  outline: none;
  border: 1px solid #6EA020;
}

.form-input:read-only {
  outline: none;
  border: 1px solid #BDBDBD;
}

.towns-list {
  position: absolute;
  box-sizing: border-box;
  border-radius: 0 0 4px 4px;
  width: 100%;
  max-width: 520px;
  padding: 10px;
  top: 45px;
  left: 10px;
  background-color: #FFFEFF;
  z-index: 1;
  border-left: 1px solid #BDBDBD;
  border-right: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
}

.towns-item {
  padding: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.towns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.town-tile {
  font-family: $font-primary;
  @include add-font-size(400, 14px, 21px);
  color: #3C3C3C;
  display: block;
  background: #E7E7E7;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  padding: 4px 5px;
  margin-bottom: 10px;
}

.town-tile:not(:last-child) {
  margin-right: 10px;
}

.delete-button {
  color: #BDBDBD;
}

.delete-button:hover {
  color: #A0A0A0;
}

.delete-icon {
  color: inherit;
}
</style>
