<template>
  <div class="form-container" id="slider">
    <div class="form-content">
      <h2 class="controls-tittle">Фоновая обложка</h2>
      <div class="slider">
        <button v-if="currentItem !== 1" class="slider__button button-left" type="button" @click="decrementCurrentItem">
          <svg class="arrow" width="17" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 12 16.5.742v22.516L0 12z" />
          </svg>
        </button>
        <div class="slider__content" :style="{transform: `translateX(${translateValue})`}">
          <div :class="getActiveItem(index +1)" v-for="(item, index) in getVideoFrames" :key="item.id">
            <span class="slider__count">№ {{index +1}}</span>
            <img class="slider__image" :src="item" alt="Фоновая обложка">
          </div>
        </div>
        <button v-if="currentItem !== 60" class="slider__button button-right" type="button" @click="incrementCurrentItem">
          <svg class="arrow" width="17" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17 12 .5.742v22.516L17 12z" />
          </svg>
        </button>
        <ui-checkbox @change="selectFrame" :model="currentItemSelected" :text-content="`Сделать фоной обложкой №${currentItem}`"
                     type="checkbox" margin="0 auto"/>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import UiCheckbox from '@/components/ui/ui-checkbox.vue';

export default {
  name: 'slider',
  checked: true,
  currentItem: 1,
  currentItemSelected: null,
  components: {
    UiCheckbox,
  },

  data() {
    return {
      allFrames: [],
      currentItem: 1,
      currentItemSelected: [],
    };
  },
  mounted() {
    // this.getAdvVideoFramesAction();
  },
  watch: {
  },
  computed: {
    ...mapGetters(['getVideoFrames', 'getCurrentFrame']),
    getCurrentFrame() {
      return this.$store.getters.getCurrentFrame;
    },
    translateValue() {
      const initValue = 100 / 3;
      const value = initValue - (initValue * (this.currentItem - 1));
      return `${value}%`;
    },
  },

  methods: {
    ...mapActions(['getAdvVideoFramesAction', 'setCurrentFrameAction']),
    selectFrame() {
      // this.currentItemSelected = this.currentItem;
      this.setCurrentFrameAction(this.currentItem);
      // console.log('setCurrentFrameAction - in slider', this.setCurrentFrameAction(this.currentItem));
      // console.log('CURRENT_ITEM_SELECTED', this.setCurrentFrameAction(this.currentItem));
      // console.log('CURRENT_CURRENT_FRAME', this.getCurrentFrame);
    },
    getActiveItem(itemCount) {
      // console.log('CURRENT_ITEM', this.currentItem);
      if (itemCount === this.currentItem) {
        return 'slider__item slider__item--active';
      }
      return 'slider__item';
    },

    incrementCurrentItem() {
      this.currentItem += 1;
    },

    decrementCurrentItem() {
      this.currentItem -= 1;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "src/styles/variables.scss";

.form-container {
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  max-width: 740px;
  margin-bottom: 40px;
  border-left: 4px solid transparent;
}

.active-form {
  border-left: 4px solid #3080D6;
}

.form-container:before {
  content: '';
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 0 10px 10px 0;
  opacity: 0.6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-left: 4px solid transparent;
}

.form-content {
  position: relative;
  z-index: 1;
  display: flex;
}

.controls-tittle {
  font-family: $font-primary;
  @include add-font-size(400, 14px, 21px);
  color: #3C3C3C;
  display: block;
  margin-right: 15px;
  padding-top: 20px;
  width: 100%;
  max-width: 115px;
}

.slider {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.button-left {
  position: absolute;
  top: 35%;
  left: 80px;
  z-index: 1;
}

.button-right {
  position: absolute;
  top: 35%;
  right: 80px;
  z-index: 1;
}

.slider__content {
  display: flex;
  transition: all 500ms;
  padding: 10px;
  margin-bottom: 30px;
}

.slider__item {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

.slider__image {
  width: 171px;
  height: 170px;
  filter: brightness(50%);
  border-radius: 4px;
}

.slider__count {
  font-family: $font-primary;
  @include add-font-size(400, 14px, 18px);
  color: #838383;
  text-align: center;
}

.arrow {
  fill: #ffffff;
}

.slider__button:hover .arrow {
  fill: #4DA300;
  transition: all 300ms;
}

.slider__item--active {
  transform: scale(1.1);
  transition: all 600ms;
}

.slider__item--active .slider__image {
  filter: brightness(100%);
  transition: all 600ms;
}

.slider__item--active .slider__count {
  color: #3C3C3C;
}

</style>
